a {
    color: black;
    text-decoration: none;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2A356A;
}

#main {
    max-width: 1440px;
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* box-shadow: inset 0 0 1em #2A056A; */
    /* background-color: #2A356A; */
    padding-right: 30px
}

.container {
    height: 100%;
    max-height: 960px;
    width: 49%;
    padding: 10px;
    /* border: solid 1px black; */
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

#arrowleft {
    width: 100%;
    height: auto;
}

#fotoCadastro {
    height: 60%;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20%;
    /* background-color: aqua; */
}

#foto {
    height: 100%;
    width: 100%;
}

#principal {
    height: 90%;
    max-height: 960px;
    width: 100%;
    margin-top: 5%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#principalInputs {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
}

.senha2 {
    height: auto;
    width: inherit;
    display: flex;
}

.editarIcones {
    width: 25px;
    height: 25px;
    margin-left: -35px;
    margin-top: 10px;
    cursor: pointer;
}
#barra{ 
    width: 100%;
    height: auto;
    margin-left: 43%;
}