body{
    background-color: whitesmoke;
    display: flex;
    height: 100vh;
    width: 100%;
}
        /********************** INICIO ESTILIZACOES ACESSO RAPIDO ***********************/

        main{
            width: 100%;
            height: 100%;
            background-color: rgb(255, 255, 255);
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            gap: -5px;
            padding: 2%;
            padding-left: 5%;
            overflow: scroll;
        }
        #acessoRapido{
            width: 100%;
            min-height: 150px;
            height: 14%;
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2%;
            box-shadow: 0 0 0.5em rgb(184, 203, 223);
            background-image: linear-gradient(to top right, rgb(235, 235, 235),  rgb(255, 255, 255));
        
        }
        .divideAcesso, .divideAcesso1{
            width: 60%;
            height: 100%;
        
        }
        #saudacao{
            width:50%;
            height:25%;
            padding-top: 2%;
            
        }
        #clima{
            font-size: 16px;
            font-weight: bold;
        }
        #informacoes{
            width: 100%;
            height: 75%;
            display: flex;
            justify-content: space-around;

        }
        .divisaoInformacoes{
            width: 20%;
            height: 90%;
            position: relative;
            /* background-color: aqua; */

        }

        .campoInfImagem,.campoInfImagem1{

            width: 35%;
            height: 75%;
            min-width: 55px;
            min-height: 55px;
            max-width: 70px;
            max-height: 70px;
            position: absolute;
            background-color: #32A40A;
            border-radius: 100%;
            margin-top: 7%;
        }

        .campoInfImagem1{
            width: 43%;
            height: 80%;
            min-width: 90px;
            min-height: 90px;
            margin-top: 5.5%;
        }

        .campoInf, .campoInf1{

            width: 90%;
            height:73%;
            margin-top: 8%;
            border-radius: 9em;
            background-color: #FFFFFF;
            box-shadow: 0 0 0.5em rgb(165, 180, 195);
            display: flex;
            align-items: center;
            justify-content: center;
        

        }

        .campoInf1{

            width: 100%;
            height: 80%;
            margin-top: 6%;
            
        }

        #conteudo{ 
            width: 50%;
            height: 80%;
            margin-left: 30%;
        }

        .sobreConteudo{

            width: 100%;
            height: 25%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #999999;
            font-family: roboto;
            font-size: 16px;
            margin-top: 4%;
        }

        .valorConteudo{

            width: 100%;
            height: 60%;
            margin-top: 2%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #ededed;
        }
        /* ACESSO RAPIDO */

        #saudacao1{

            width:50%;
            height:15%;
            font-size: 16px;
            color: #444444;
            font-weight: 500;
            margin-top: 2%;
            margin-left: 5%;
        }

        .divideAcesso1{
            width: 33%;
            padding-left: 3%;
        }
        #linha{
            width: 1px;
            height: 70%;
            background-color: #c4c4c4;
        }
        #informacoes1{
        
            width: 85%;
            height: 75%;
            display: flex;
        }

        .divAceInf{

            width: 20%;
            height: 85%;
            border-radius: 4%;
            margin: 2%;
            background-color: rgb(255, 255, 255);
            box-shadow: 0 0 0.2em rgb(192, 215, 241);
            display: flex;
            align-items: center;
            justify-content: center;
        
        }

        .cont{
            width: 90%;
            height: 90%;
            min-width: 400px;
        }

        .titutoInf{
            width: 100%;
            height: 18%;
            font-size: 10px;
            text-align: center;
            font-weight: 500;
            color: #444444;
            padding-top: 5px;
        }

        .imagem{

            width: 100%;
            height: 82%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .formImg{

            margin-top: 25%;
            margin-left: 15%;
        }

        .formImg1{

            margin-top: 20%;
            margin-left: 25%;
        }

        .corFundo{
            background-color: #E70000;
        }

        .corFundo2{
            background-color: #4D64B1;
        }
        /* formatacao grafico */

        #graficoPrincipal{
            width: 100%;
            height: auto;
            min-height: 100%;
            margin-top: 2%;
            border-radius: 8px;
            box-shadow: 0 0 1em rgb(208, 237, 244)
        
        }

        #campoSelects{

            width: 100%;
            height: 10%;
            display: flex;

        }

        #tituloSelect{
            
            width: 20%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

        }
        #selects{

            width: 80%;
            height: 100%;
            display: flex;
            
        }

        #campoSelect{
            width: 40%;
            height: 100%;
            display: flex;
            padding-top: 2%;
        }

        .divisao{
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: center;
        }

        .formaSelects{

            width: 80%;
            height: 60%;
            background-color: var(--cor-Principal);
            color: white;
            font-size: 18px;
            box-shadow: 0 0 0.5em rgb(145, 149, 154);
            border: 0;

        }

        select{

            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            border: solid 2px #2A356A;
            color: #FFF;
            text-align: center;
            background: url(../img/selectbranco.svg) no-repeat center right #FFF;
            background-color: #2A356A;
            font-size: 15px;
            background-position-x: 95%;
            border-radius: 5px;
        }


        #tituloInfor{

            width: 100%;
            height: 30%;
            margin-left: 10%;
            text-align: start;
            font-weight: bold;
            font-size: 20px;

        }

        /* PARTE DO GRAFICO DASHBOARD */

        #graficoPuro{
            width: 100%;
            height: 60%;
            margin-top: 1%;
            background-color: yellow;
        }

        #infAdicionais{
            width: 100%;
            height: 20%;
            display: flex;
            gap: 5px;
            align-items: center;
            margin-top: 1%;
            margin-bottom: 1%;
        }

        .cardInf , .cardInf1{
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .cardInf1{
            width: 40%;
            height: 100%;
            display: flex;
            justify-content: start;
        }

        .card, .card1{
            width: 75%;
            height: 70%;
            margin-left: 8%;
            background-color: white;
            border-radius: 15px;
            box-shadow: 0 0 0.5em rgb(202, 222, 247);
        }

        .titulo{
            margin: 15px;
        }


/* CONTEUDO CONTA */

.divisaoConta{
    width: 25%;
    height: 90%;
  
}

.localInfo{
    width: 80%;
    height: 4%;
    min-height: 20px;
    min-width: 100px;
    margin-left: 100px;
    border-radius: 10px;
    margin-top: 15px;
    background-color: #3C9E1A;
    box-shadow: 0 0 0.5em rgb(123, 121, 121);
    color: white;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    overflow: scroll;
    padding: 5px;
}

.localCont{
    width: 100%;
    height: 90%;
    min-width: 200px;
    min-height: 100px;
    margin-top: 10%;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10%;
    gap: 15px;
    flex-direction: column;
    background-color: #F5F1F1;
}

.cardSeparado{

    width: 80%;
    height: 25%;
    min-width: 100px;
    min-height: 100px;
    gap: -5px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 5px 8px -2px rgb(182, 221, 243);
    overflow: auto;
}

.teste1{
    width: 85%;
    height: 20%;
    margin-top: 0.9%;
    margin-left: 2%;
    border: 1px solid black;
}

.subTeste{
    width: 40%;
    height: 100%;
    display: flex;
}

.t1{
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 
}

.t2{
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 15px;
    font-weight: 500;
}

.editXis{
    width: 100%;
    height: 6%;
    margin-top: 5px;
    margin-left: -5px;
    display: flex;
    justify-content: end;
}
