
#mainPrincipal{

    width: 100%;
    min-height: 100vh;
    height: auto;
    background-color: whitesmoke ;
    display: flex;
    align-items: center;
}
main{
    min-width: 1250px ;
}
#titulo{

    width: 88vw;
    min-height: 120px;
    height: auto;
    min-width: 100px;
    margin-top: -15px;
    display: flex;
    justify-content: space-between;
}
h1{
    font-size: 2.3em;
    margin-left: 30px;
}
#criarMeta{
    width: 110px;
    height: 120px;
    background-color: aqua;  
    display: flex;
    align-items: center;
    flex-direction: column; 
    padding: 10px; 
    border: solid 1px whitesmoke;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 5px -2px rgb(140, 164, 243);
}
.imgAddMeta{
    padding: 10px;
}

/* Formatação das caixa despesas e receitas */
    .tipoMeta{
        width: 65vw;
        height: 100px;
        /* background-color: aqua; */
        margin-top: 3%;
        margin-bottom: 30px;
    }
    #formatCaixas{
        min-width: 61vw;
        width: 61vw;
        min-height: 60px;
        height: 60px;
        display: flex;
        /* background-color: aqua; */
        justify-content: space-between;
        margin-top: 40px;
    }
    #conteudoMeta{
        min-width: 100px;
        width: 75vw;
        height: 70vh;
        /* background-color: aqua; */
        display: flex;
        justify-content: space-between;
    }


/* formatação da caixa de despesas */

.despesa{
    min-height: 60px;
    min-width: 60px;
    width: 400px;
    height: 60px;
    margin-left: 90px;
    background-color: #2A356A;
    border-radius: 5px;
}

.despesa h4{
    font-size: 1.5em;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.receita{
    min-height: 60px;
    min-width: 60px;
    width: 400px;
    height: 60px;
    background-color: #2A356A;
    border-radius: 5px;
}

.receita h4{
    font-size: 1.5em;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.conteudoDespesa{
    min-width: 850px;
    overflow-y: scroll;
    width: 850px;
    min-height: 67px;
    height: 68vh;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    gap: 20px;
    flex-direction: column;
    background-color: rgb(233, 233, 233);
}

.caixaDespesas{
    min-width: 100px;
    width: 620px;
    min-height: 255px;
    height: 260px;
    border: solid 1px whitesmoke;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 5px -2px rgb(140, 164, 243);
}

.formatText{
    min-width: 20px;
    width: 100px;
    min-height: 20px;
    height: 160px;
    /* background-color: #2A356A; */
    display: flex;
    flex-direction: column;
    margin-top: 6px;
    gap: 25px;
   
}
.formatImgs{
    min-height: 50px;
    height: 166px;
    min-width: 20px;
    width: 60px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    /* background-color: aqua; */
}
.tituloMeta{
    min-width: 20px;
    width: 180px;
    min-height: 20px;
    height: 50px;
    display: flex;
    flex-direction: column;
}

.centralizar{
    width: 100%;
    height: 20%;
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}
.tituloMeta p{
    margin-left: 45px;
}
.editConteudosDespesa{
    min-width: 200px;
    width: auto;
    min-height: 150px;
    height: auto;
    display: flex;
    margin-top: 20px;
    /* background-color: #2A356A; */
    margin-left: 12px;
}

 /* Formatacão da caixa de receitas */
 
.conteudoReceita{
    min-width: 850px;
    overflow-y: scroll;
    width: 850px;
    min-height: 67px;
    height: 68vh;
    border-radius: 4px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding: 30px;
    gap: 20px;
    flex-direction: column;
    background-color: rgb(233, 233, 233);
}
.caixaReceita{
    min-width: 100px;
    width: 620px;
    min-height: 255px;
    height: 260px;
    border: solid 1px whitesmoke;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 5px -2px rgb(140, 164, 243);
}
.editConteudosReceita{
    min-width: 200px;
    width: auto;
    min-height: 150px;
    height: auto;
    display: flex;
    margin-top: 20px;
    /* background-color: #2A356A; */
    margin-left: 12px;
}
