*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:Roboto, sans-serif;
}
:root{
    --cor-Principal: #2A356A;
}
body{
    background-color: whitesmoke;
}
ul li{
    display: flex;
  
}
.menu{
   
    width: 8%;
    min-width: 190px;
    height: 100vh;
    min-height: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--cor-Principal);
}
#nomeEmpresa{
    width: 100%;
    height: 8%;
    color: white;
    font-size: 2.1rem;
    text-align: center;
    padding-top: 20%;
    font-weight: bold;
}

#menuList{
    display: flex;
    width: 100%;
    height: 50%;
    float:right;
}

ul {
   
    width: 100%;
    height: 500px;
  
}

li {
    width: 100%;
    height: 10%;
    margin-bottom: 25px;
    margin-top: 45px;
    z-index: 1;
    display: flex;
    align-items: center;
    padding-left: 10px; 
    
}

li:hover{
    background-color:  rgba(255, 255, 255, 0.48);
    transition-duration: 1s;
    cursor: pointer;

}
.on{
   color: white;
   font-size: 16px;
   text-align: center;
   padding: 10px;
   font-family: 'Roboto';
   font-weight: 40px;
   padding-left: 15px;
   padding-top: 14px;
   z-index: 10;
   cursor: pointer;
}

.img{
    width: 50px;
    height: 50px;
    padding-left: 5px;
    color: white;
}

.perfil{

    width: 100%;
    height: 8%;
    margin-bottom: 20%;
    display: flex;
    justify-content: space-between;

}

#perfilFoto{

    width: 35%;
    height: 70%;
    border-radius: 100%;
    border: 4px solid rgb(255, 255, 255);
}
 #perfilTexto{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 55%;
    height: 100%;
    padding-bottom: 12%;
 }

 #cinza{
    color: #C4C4C4;
 }

 #branco{
     color: white;
 }