body{
    display: flex;
    width: 100%;
    height: 100vh;
}
#mainPrincipal{

    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main{
    min-width: 1250px;
    min-height: 1250px;
}

#guardaTituloBotao{

    width: 100%;
    height: 13%;
}

#titulo{

    width: 88vw;
    min-height: 120px;
    height: auto;
    min-width: 100px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
h1{
    font-size: 2.3em;
    margin-left: 30px;
}
#criarMeta{
    width: 110px;
    height: 120px; 
    display: flex;
    align-items: center;
    flex-direction: column; 
    padding: 10px; 
    border: solid 1px whitesmoke;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 5px -2px rgb(140, 164, 243);
}
.imgAddMeta{
    padding: 10px;
}

/* Formatação das caixa despesas e receitas */
    
   
    #conteudoMeta{
      
        width: 100%;
        height: 90%;
        min-width: 100px;
        display: flex;
        justify-content: space-between;
    }


/* formatação da caixa de despesas */
.conteudoReceitaDespesa{
    width: 45%;
    height: 100%;
    min-width: 100px;
    /* min-height: 67px; */
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.titulo{
    width: 50%;
    height: 5%;
    min-width: 90px;
    min-height: 50px;
    margin-bottom: 10px;
    background-color: #2A356A;
    color: white;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.CaixaGuardaInfo{

    width: 70%;
    height: 90%;
     min-width: 100px;
    overflow-y: scroll;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding-top: 25px;
    flex-direction: column;
    background-color: whitesmoke;
}
.caixaDespesas{
    min-width: 100px;
    width: 80%;
    min-height: 255px;
    height: 260px;
    border: solid 1px whitesmoke;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 5px -2px rgb(140, 164, 243);
}


.format{
    font-weight: 600;
    font-size: 1.2rem;
}
.tituloMeta{
    min-width: 100px;
    width: 180px;
    min-height: 20px;
    height: 80px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.caixaTextos{
   
    width: 70%;
    height: 100%;
    min-width: 80px;
    display: flex;
    flex-direction: column;
    
}

.divisaoInformacao{
    width: 35%;
    min-width: 100px;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    font-weight: 600;
    margin-left: 20px;

}

.divisaoCategoria{
    width: 50%;
    min-width: 90px;
    min-height: 20px;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 10px;
    color: #858585;
}
@media screen and (min-width: 50px) {
                               
    .divisaoCategoria{
        margin-left: 5px;
    }
  }
  
.imagemCate, .textoCate{
    width: 100%;
    min-width: 20px;
    height: 25%;
    margin-top: 12px;
    display: flex;

}

.imagemCate{
    justify-content: center;
    align-items: center;
}

.caixaIcones{

   
    width: 10%;
    height: 100%;
    min-height: 50px;
    min-width: 20px;
    display: flex;
    flex-direction: column;
}

.tamanhoFormatado{
    width: 100%;
    min-width: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.centralizar{
    width: 100%;
    height: 20%;
    min-width:100px;
    min-height: 70px;
    display: flex;
    margin-top: -5px;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.editConteudosDespesa{

    width: 100%;
    height: 70%;
    min-width: 90px;
    display: flex;
}

 /* Formatacão da caixa de receitas */
 
.conteudoReceita{
    min-width: 850px;
    overflow-y: scroll;
    width: 850px;
    min-height: 67px;
    height: 68vh;
    border-radius: 4px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding: 30px;
    gap: 20px;
    flex-direction: column;
    background-color: rgb(233, 233, 233);
}
.caixaReceita{
    min-width: 100px;
    width: 620px;
    min-height: 255px;
    height: 260px;
    border: solid 1px whitesmoke;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 5px -2px rgb(140, 164, 243);
}
.editConteudosReceita{
    min-width: 200px;
    width: auto;
    min-height: 150px;
    height: auto;
    display: flex;
    margin-top: 20px;
    /* background-color: #2A356A; */
    margin-left: 12px;
}

#menuMetas{
    border-left: solid 3px #fff;
    transition : 0.1s;
}
