*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:Roboto, sans-serif;
}
:root{
    --cor-Principal: #2A356A;
}
body{
    background-color: whitesmoke;
    display: flex;
    height: 100vh;
    width: 100%;
}

/***************** INICIO ESTILIZACOES MENU ***********************/
ul li{
    display: flex;
  
}
.menu{
   
    width: 8%;
    min-width: 200px;
    height: 100vh;
    min-height: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--cor-Principal);
}
#nomeEmpresa{
    width: 100%;
    height: 8%;
    color: white;
    font-size: 2.1rem;
    text-align: center;
    padding-top: 20%;
    font-weight: bold;
}

#menuList{
    display: flex;
    width: 100%;
    height: 50%;
    float:right;
    
}

ul {
   
    width: 100%;
    height: 500px;
  
}

li {
    width: 100%;
    height: 10%;
    margin-bottom: 25px;
    margin-top: 45px;
    z-index: 1;
    display: flex;
    align-items: center;
    padding-left: 10px;
    box-shadow: 0 4px 6px -2px #000000;
    border-top: none;
    
}

li:hover{
    background-color:  rgba(255, 255, 255, 0.308);
    transition-duration: 1s;
    cursor: pointer;
    border-left: 5px;
   

}
.on{
   color: white;
   font-size: 16px;
   text-align: center;
   padding: 10px;
   font-family: 'Roboto';
   font-weight: 40px;
   padding-left: 15px;
   padding-top: 14px;
   z-index: 10;
   cursor: pointer;
}

.img{
    width: 50px;
    height: 50px;
    padding-left: 5px;
    color: white;
}

.perfil{

    width: 100%;
    height: 8%;
    margin-bottom: 20%;
    display: flex;
    justify-content: space-between;

}

#perfilFoto{

    width: 35%;
    height: 70%;
    max-width: 60px;
    max-height: 60px;
    border-radius: 100%;
    border: 2px solid rgb(255, 255, 255);
    margin-left: 5%;
}
 #perfilTexto{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 55%;
    height: 100%;
    padding-bottom: 12%;
 }

 #cinza{
    color: #C4C4C4;
 }

 #branco{
     color: white;
 }
/********************** FIM ESTILIZACOES MENU ********************************/

/********************** INICIO ESTILIZACOES ACESSO RAPIDO ***********************/

main{
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    padding: 2%;
    padding-left: 5%;
    overflow: hidden
}
#acessoRapido{
    width: 100%;
    min-height: 150px;
    height: 14%;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    box-shadow: 0 0 0.5em rgb(184, 203, 223);
    background-image: linear-gradient(to top right, rgb(235, 235, 235),  rgb(255, 255, 255));
   
}
.divideAcesso, .divideAcesso1{
    width: 60%;
    height: 100%;
   
}
#saudacao{
    width:50%;
    height:25%;
    padding-top: 2%;
    
}
#clima{
    font-size: 16px;
    font-weight: bold;
}
#informacoes{
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: space-around;

}
.divisaoInformacoes{
    width: 20%;
    height: 90%;
    position: relative;
    /* background-color: aqua; */

}

.campoInfImagem,.campoInfImagem1{

    width: 35%;
    height: 78%;
    min-width: 75px;
    min-height: 75px;
    max-width: 100px;
    max-height: 100px;
    position: absolute;
    background-color: #32A40A;
    border-radius: 100%;
    margin-top: 7%;
}

.campoInfImagem1{
    width: 43%;
    height: 80%;
    min-width: 90px;
    min-height: 90px;
    margin-top: 5.5%;
}

.campoInf, .campoInf1{

    width: 90%;
    height:73%;
    margin-top: 8%;
    border-radius: 9em;
    background-color: #FFFFFF;
    box-shadow: 0 0 0.5em rgb(165, 180, 195);
    display: flex;
    align-items: center;
    justify-content: center;
  

}

.campoInf1{

    width: 100%;
    height: 80%;
    margin-top: 6%;
    
}

#conteudo{ 
    width: 50%;
    height: 80%;
    margin-left: 30%;
}

.sobreConteudo{

    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999999;
    font-family: roboto;
    font-size: 16px;
    margin-top: 4%;
}

.valorConteudo{

    width: 100%;
    height: 60%;
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ededed;
}
/* ACESSO RAPIDO */

#saudacao1{

    width:50%;
    height:15%;
    font-size: 16px;
    color: #444444;
    font-weight: 500;
    margin-top: 2%;
    margin-left: 5%;
}

.divideAcesso1{
    width: 33%;
    padding-left: 3%;
}
#linha{
    width: 1px;
    height: 70%;
    background-color: #c4c4c4;
}
#informacoes1{
  
    width: 85%;
    height: 75%;
    display: flex;
}

.divAceInf{

    width: 20%;
    height: 85%;
    border-radius: 4%;
    margin: 2%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 0.2em rgb(192, 215, 241);
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.cont{
    width: 90%;
    height: 90%;
}

.titutoInf{
    width: 100%;
    height: 18%;
    font-size: 10px;
    text-align: center;
    font-weight: 500;
    color: #444444;
    padding-top: 5px;
}

.imagem{

    width: 100%;
    height: 82%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formImg{

    margin-top: 25%;
    margin-left: 15%;
}

.formImg1{

    margin-top: 20%;
    margin-left: 25%;
}

.corFundo{
    background-color: #E70000;
}

.corFundo2{
    background-color: #4D64B1;
}
/* formatacao grafico */

#graficoPrincipal{
    width: 100%;
    height: 80%;
    margin-top: 2%;
    border-radius: 4px;
    background-color: #32A40A;
  
}

#campoSelects{

    width: 100%;
    height: 10%;
    display: flex;
    border: 1px solid black;
}

#tituloSelect{
    
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#selects{

    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(119, 0, 255);
    
}

#tituloInfor{

    width: 100%;
    height: 30%;
    margin-left: 10%;
    text-align: start;
    font-weight: bold;
    font-size: 20px;
    color: #2A356A;
}