body {
    background-color: whitesmoke;
    display: flex;
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
}

/********************** INICIO ESTILIZACOES ACESSO RAPIDO ***********************/

main {
    width: 100%;
    min-width: 1000px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    padding: 2%;
    overflow: scroll;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

#acessoRapido {
    width: 100%;
    min-height: 150px;
    height: 14%;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    box-shadow: 0 0 0.5em rgb(184, 203, 223);
    background-image: linear-gradient(to top right, #f9f9f9, #f7f7f7);

}

.divideAcesso {
    width: 60%;
    height: 100%;

}

#saudacao {
    width: 190px;
    height: auto;
    margin-top: 5px;

}

#clima {
    font-size: 16px;
    font-weight: bold;
    color: black;
}

#informacoes {
    width: 100%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.divisaoInformacoes {
    width: 30%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;

}


.campoInf,
.campoInf1 {

    width: 80%;
    min-width: 170px;
    height: 70px;
    border-radius: 50px;
    box-shadow: 0 0 0.5em rgb(165, 180, 195);
    display: flex;
}

.campoInf1 {
    width: 100%;
    height: 80px;
}

.formImg {

    height: 70px;
    width: 70px;
}

.formImg1 {
    height: 80px;
    width: 80px;
}


#conteudo33 {

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.sobreConteudo {

    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999999;
    font-family: roboto;
    font-size: 16px;

}

.valorConteudo {

    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

#saldoGeral {
    color: #4D64B1;
    font-weight: bold;
}

#receita {
    color: #32A40A;
    font-weight: bold;
}

#despesa {
    color: #E70000;
    font-weight: bold;
}

#linha {
    width: 1px;
    height: 70%;
    background-color: #c4c4c4;
}

/* ACESSO RAPIDO */

#saudacao1 {
    width: 105px;
    height: auto;
    font-size: 16px;
    color: #444444;
    font-weight: 500;
    margin-top: 5px;
    margin-left: 5%;
}

.divideAcesso1 {
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#informacoes1 {

    width: 75%;
    height: 100%;
    display: flex;
    gap: 3%;
    margin-top: 10px;
}

.divAceInf {

    width: 20%;
    min-width: 70px;
    height: 90%;
    border-radius: 4%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 0.2em rgb(192, 215, 241);
    display: flex;
    align-items: center;
    justify-content: center;

}

.cont {
    width: 90%;
    height: 90%;
}

.titutoInf {
    width: 100%;
    height: 18%;
    font-size: 10px;
    text-align: center;
    font-weight: 500;
    color: #444444;
    padding-top: 5px;
}

.imagem {

    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* formatacao grafico */

#graficoPrincipal {
    width: 100%;
    /*height: auto;*/
    /*min-height: 850px;*/
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
    box-shadow: 0 0 1em rgb(208, 237, 244);

}

#campoSelects {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
}

#tituloSelect {

    width: 310px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#selects {

    width: 80%;
    height: 100%;
    display: flex;

}

#campoSelect {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;


}

.formaSelect {
    width: 270px;
    height: 40px;
    background-color: var(--cor-Principal);
    color: white;
    font-size: 18px;
    box-shadow: 0 0 0.5em rgb(145, 149, 154);
    border: 0;

}

select {
    width: 100px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: solid 2px #2A356A;
    color: #FFFFFF;
    text-align: center;
    background: url(../img/selectbranco.svg) no-repeat center right #FFF;
    background-color: #2A356A;
    font-size: 15px;
    background-position-x: 95%;
    border-radius: 5px;
    cursor: pointer;
}

#saldo-mensal{
    color: black;
}
/* PARTE DO GRAFICO DASHBOARD */

#graficoPuro {
    width: 100%;
    height: 60%;
    max-height: 700px;
    margin-top: 1%;
    background-color: #ffffff;
}

#infAdicionais {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;

}

.cardInf{
    width: 58%;
    height: 100%;
    display: flex;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 0.5em rgb(202, 222, 247);
    padding: 10px;
} 
#graf2{
    width: 80%;
    height: inherit;
}
#saldoMes{
    width: 20%;
    height: inherit ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.cardInf1{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: start;
}

.card1{
    overflow: hidden;
}
.titulo {

    margin: 15px;
    color: #2A356A;
    font-weight: 600;
    font-size: 1.4rem;
}

.despesaPendente{
    width: 100%;
    background-color: yellow;
    height: 25%;
    margin-top: 2px;
    display: flex;
    align-items: center;
}
.icone{
    width: 5%;
    height: 100%;
    background-color: violet;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.principalMeio{
    width: 90%;
    height: 100%;
    background-color: #4D64B1;
}
.valorPendente{
    width: 100%;
    height: 50%;
    padding-left: 20px;
    background-color: blue;
}
.formatarImgExcluir{
    width: 30px;
    height: 30px;
}
.t1{
    background-color: #32A40A;
    font-weight: 600;
    font-size: 1.2rem;
    padding-bottom: 5px;
}
.t1 ,.valor{
    width: 100%;
    height: 50%;
    padding-left: 20px;
    
}




        /********************** INICIO ESTILIZACOES ACESSO RAPIDO ***********************/

      
        #acessoRapido{
            width: 100%;
            min-height: 150px;
            height: 14%;
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2%;
            box-shadow: 0 0 0.5em rgb(184, 203, 223);
            background-image: linear-gradient(to top right, #f9f9f9, #f7f7f7);
        
        }
        .divideAcesso{
            width: 60%;
            height: 100%;
        
        }
        #saudacao{
            width:190px;
            height:auto;
            margin-top: 5px;
            color: black;
            /* background-color: #f646f4; */
        }
        #clima{
            font-size: 16px;
            font-weight: bold;
        }
        .nomeCliente{
            color: black;
        }
        #informacoes{
            width: 100%;
            height: 75%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            /* background-color: aqua; */
        }
        .divisaoInformacoes{
            width: 30%;
            height: 90%;
            display: flex;
            align-items: center;
            justify-content: center;
            /* background-color:chartreuse; */
        }

        .campoInf, .campoInf1{

            width: 80%;
            min-width: 170px;
            height:70px;
            border-radius: 50px;
            /* background-color: violet; */
            box-shadow: 0 0 0.5em rgb(165, 180, 195);
            display: flex;
        }

        .campoInf1{
            width: 100%;
            height: 80px;
        }
        .formImg{
            /* background-color: blue; */
            height: 70px;
            width: 70px;
        }
        .formImg1{
            height: 80px;
            width: 80px;
        }


        #conteudo33{ 

            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            /* background-color: darkorange; */
        }

        .sobreConteudo{

            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #999999;
            font-family: roboto;
            font-size: 16px;
            /* background-color: yellow; */
        }

        .valorConteudo{

            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            /* background-color: tomato; */
        }
        #saldoGeral{
            color: #4D64B1;
            font-weight: bold;
        }
        #receita{
            color: #32A40A;
            font-weight: bold;
        }
        #despesa{
            color: #E70000;
            font-weight: bold;
        }
        #linha{
            width: 1px;
            height: 70%;
            background-color: #c4c4c4;
        }
        /* ACESSO RAPIDO */

        #saudacao1{
            width:105px;
            height:auto;
            font-size: 16px;
            color: #444444;
            font-weight: 500;
            margin-top: 5px;
            margin-left: 5%;
            /* background-color: aqua; */
        }

        .divideAcesso1{
            width: 33%;
            height: 100%;
            display: flex;
            flex-direction: column;
            /* background-color: aqua; */
        }
        
        #informacoes1{
            
            width: 75%;
            height: 100%;
            display: flex;
            gap: 3%;
            margin-top: 10px;
        }

        .divAceInf{

            width: 20%;
            min-width: 70px;
            height: 90%;
            border-radius: 4%;
            background-color: rgb(255, 255, 255);
            box-shadow: 0 0 0.2em rgb(192, 215, 241);
            display: flex;
            align-items: center;
            justify-content: center;
        
        }

        .cont{
            width: 90%;
            height: 90%;


        }

        .titutoInf{
            width: 100%;
            height: 18%;
            font-size: 10px;
            text-align: center;
            font-weight: 500;
            color: #444444;
            padding-top: 5px;
        }

        .imagem{

            width: 100%;
            height: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
            /* background-color: #E70000; */
        }

        /* formatacao grafico */

        #graficoPrincipal{
            width: 100%;
            /*height: auto;*/
            /*min-height: 850px;*/
            margin-top: 30px;
            padding-left: 20px;
            padding-right: 20px;
            border-radius: 8px;
            box-shadow: 0 0 1em rgb(208, 237, 244);
            /* background-color: aqua; */
        }

        #campoSelects{
            width: 100%;
            height: 100px;
            display: flex;
            justify-content: space-around;
        }

        #tituloSelect{
            /* background-color: tomato; */
            width: 30%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        #tituloInfor{
            /* background-color: slateblue; */
            width: 100%;
            height: 30%;
            text-align: center;
            font-weight: bold;
            font-size: 28px;
        }
        #selects{
            /* background-color: yellow; */
            width: 70%;
            height: 100%;
            display: flex;
            
        }

        #campoSelect{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            /* background-color: teal; */

        }

        .formaSelect{
            width: 270px;
            height: 40px;
            background-color: var(--cor-Principal);
            color: white;
            font-size: 18px;
            box-shadow: 0 0 0.5em rgb(145, 149, 154);
            border: 0;

        }

        select{
            width: 100px;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            border: solid 2px #2A356A;
            color: #FFFFFF;
            text-align: center;
            background: url(../img/selectbranco.svg) no-repeat center right #FFF;
            background-color: #2A356A;
            font-size: 15px;
            background-position-x: 95%;
            border-radius: 5px;
            cursor: pointer;
        }      

        /* PARTE DO GRAFICO DASHBOARD */

        #graficoPuro{
            width: 100%;
            height: 60%;
            max-height: 700px;
            margin-top: 1%;
            background-color: #ffffff;
        }

        #infAdicionais{
            width: 100%;
            height: 200px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 2%;
            /* background-color: yellow; */
        }

       

       
        .card1{
            width: 100%;
            height: 100%;
            padding-left: 10px;
            background-color: white;
            border-radius: 15px;
            box-shadow: 0 0 0.5em rgb(202, 222, 247);
            /* background-color: green; */
        }

        .titulo{
            margin: 15px;
            /* background-color: greenyellow; */
        }

        #menuDash{
            border-left: solid 3px #fff;
            transition : 0.1s;
        }
        p{
            color: black;
        }

