#borda{
    width: 100%;
    height: 40px;
    background-color: #2A356A;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fotoX{
    width: 25px;
    float: right;
    margin-right: 10px;

}
h3{
    color: white;
    margin-left: 20px;
}
#fixa{
    /* background-color:#2A356A; */
    height: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
#baseline{
    height: 20px;
    /* background-color: aqua; */
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: none;
}
#descricaoFixa{
    /* background-color: beige; */
    width: 200px;
    margin-top: 10px;
}
input:disabled{
    background-color: #c4c4c4;
}
#transFixa{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-top: 0px;
}
.descricao{
    margin-top: 0px;
}
h4{
    margin-bottom: 10px;
}
#conteudo{
    width: 90%;
    /* background-color: #2A356A; */
    margin-left: 5%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
label{
    color: rgb(142, 128, 128)
}
#valorData{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.estilizacao{
    border:solid 2px #2A356A;
}
.caixa2{
    width: 49%;
  }
.caixa{
    width: 100%;
}
#botao{
    width: 90%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 5%;
    margin-top: 5%;

}
.bolinhas{
    height: 80px;
    width: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#obsp{
    margin-left: -7px;
}
p{
    display: flex;
    justify-content: center;
    align-items: center;
}
.repetir{
    width: 65px;
    height: 65px;
}
 .concluir{
    width: 70px;
    height: 70px;
}
#confirmar{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 3%;
}
#selectCat{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: solid 2px #2A356A;
    height: 40px;
    width: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    text-align: left;
    padding-left: 10px;
    color: black;
    background: url(../img/select.svg) no-repeat  right #FFFf;
    font-size: 15px;
    background-position-x: 98% ;
}
#selectFR{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: solid 2px #2A356A;
    height: 40px;
    width: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    text-align: left;
    padding-left: 10px;
    color: black;
    background: url(../img/select.svg) no-repeat  right #FFFf;
    font-size: 15px;
    background-position-x: 98% ;
}
.date{
    appearance: none;
    background-position: absolute;
    padding-right: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(../img/calendario.svg) no-repeat center right #FFF;
    font-size: 15px;
    padding-right: 10px;
    background-position-x: 98% ;
    background-position-y: 99%;
} 

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    -webkit-appearance: none;
    opacity: 0;
}
.dateInicio{
    appearance: none;
    background-position: absolute;
    padding-right: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(../img/calendario.svg) no-repeat center right #FFF;
    font-size: 15px;
    padding-right: 10px;
    background-position-x: 99% ;
    background-position-y: 99%;
} 
.dateFim{
        appearance: none;
        background-position: absolute;
        padding-right: 20px;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: url(../img/calendario.svg) no-repeat center right #FFF;
        font-size: 15px;
        padding-right: 10px;
        background-position-x: 99% ;
        background-position-y: 99%;
}

 /* do js */
.repeticao{
    min-height: 300px;
    display: none;  
}
.observacao{
    min-height: 100px;
    display: none; 
}
.anexo{
    min-height: 100px;
    display: none; 
}
.aparecer{
    display: flex;
}

/* css de repetição*/

#conteudo2{
    width: 90%;
    height: 35%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}
.caixa1{
    width: 100%;
}
.caixa3{
    width: 48%;
    height: 60px;
    margin-top: 4%;
}
#duracaoData{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    /* background-color: aqua; */
}


/* css de observação*/

#conteudo3{
    width: 90%;
    height: 35%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}
.obs{
    margin-top: 2%;
    width: 100%;
    border-radius: 6px;
    resize: none;
    height: 150px;
    font-size: 16px;
    padding: 10px;
}

/* css de Anexo*/

#conteudo4{
    width: 90%;
    height: 35%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}
form input {
    margin-top: 2%;
    border: #FFF; 
}

