body{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
main{
    width: 100%;
    min-width: 500px;
    max-width: 560px;
    max-height: 100%;
    min-height: 60%;
    border: solid 1px black;
}
#borda{
    width: 100%;
    height: 4vh;
    background-color: #2A356A;
}
.fotoX{
    width: 15px;
    float: right;
    margin-right: 10px;
    margin-top: -10px;
}
h3{
    margin-top: 20px;
    margin-left: 20px;
}

#pendente{
    width: 20%;
    margin-top: 20px;
    float: right;
    margin-right: 15px;
    padding: 0%;
    background-color: #F27373;
    font-size: 1.0em;
    color: white;
    border: none;
}
#pago{
    width: 20%;
    margin-top: 20px;
    float: right;
    margin-right: 15px;
    padding: 0%;
    background-color: #92DA79;
    color: white;
    font-size: 1.0em;
    border: none;
}
#conteudo{
    width: 90%;
    height: 35%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
}
label{
    color: rgb(142, 128, 128)
}
#valorData{
    display: flex;
    justify-content: space-between;
}
.caixa2{
    width: 49%;
  }
.caixa{
    width: 100%;
}
#botao{
    width: 90%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 5%;
    margin-top: 5%;

}
.bolinhas{
    height: 80px;
    width: 80px;
    text-align: center;
   
}
.repetir{
    width: 65px;
    height: 65px;
}
 .concluir{
    width: 70px;
    height: 70px;
}
#confirmar{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 3%;
}
select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: solid 2px #2A356A;
    height: 40px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
    padding-left: 10px;
    background: url(../img/select.png) no-repeat center right #FFF;
    font-size: 15px;
    padding-right: 20px;
}
.date{
    appearance: none;
    background-position: absolute;
    padding-right: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(../img/calendario.png) no-repeat center right #FFF;
    font-size: 15px;
    padding-right: 20px;
    background-position-x: 95% ;
} 

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    -webkit-appearance: none;
    opacity: 0;
}

 /* do js */
.repeticao{
    display: none;  
}
.observacao{
  display: none; 
}
.anexo{
   display: none; 
}
.aparecer{
    display: flex;
}

/* css de repetição*/

#conteudo2{
    width: 90%;
    height: 35%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}
.caixa3{
    height: 60px;
    margin-top: 4%;
}
#duracaoData{
    display: flex;
    justify-content: space-between;
}
.duracao{
    width: 135%;
}

/* css de observação*/

#conteudo3{
    width: 90%;
    height: 35%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}
.obs{
    margin-top: 2%;
}

/* css de Anexo*/

#conteudo4{
    width: 90%;
    height: 35%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}
form input {
    margin-top: 2%;
   border: #FFF; 
}