:root{
    --cor-Principal: #2A356A;
}
body{
    display: flex;
    height: 100vh;
    width: 100%;
}
main{
    background-color: white;
    border-radius:  60px 0px 0px 60px;
}
.menu {
    width: 6%;
    min-width: 150px;
    height: 100vh;
    min-height: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--cor-Principal);
}
#editMenu{
    width: 100px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 370%;
}
.flecha{
    width: 30px;
    margin-left: 15px;
    margin-top: 18px;
}
.formarImg{
    width: 90px;
}
main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: blue; */
}
#categorias{
    width: 85%;
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -50px;
}
h2{
    margin-top: 15px;
    font-size: 1.8em;
}
#paiSelect{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    /* background-color: aquamarine; */
    margin-top: 50px;
}
.formatSelect{
    width: 215px;
    height: inherit;
    background-color: #2A356A;
}

select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: solid 2px #2A356A;
    color: #FFF;
    text-align: center;
    height: 40px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
    padding-left: 10px;
    background: url(../img/selectbranco.svg) no-repeat center right #FFF;
    font-size: 15px;
    background-position-x: 95% ;
}

.formatSelect option {
    height: 50px;
    width: 50px;
    background-color: aqua;
}

#conteudo{
    width: 70%;
    height: 75%;
    overflow-y: scroll;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-flow: row wrap;
    border-radius: 10px;
}

.containerInfo{
    width: 50%;
    height: 80%;
    display: flex;
    margin: 10px;
}

.containerImagem{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.containerText{

    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
}

.textCategoria, .textLugar, .textValor{
    width: 100%;
    height: 20%;
}

.textLugar{
    color: #999999;
}

.textValor{

    color: #E70000;
}

.dataFormatacao{

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 30px;
    color: #CCCCCC;
}
.caixa1{
    width: 75%;
    height: 140px;
    background-color: white;
    margin-top: 45px;
    border: solid 1px whitesmoke;
    border-radius: 15px;
    display: flex;
    box-shadow: 0 4px 5px -2px rgb(140, 164, 243);
   
}
/* format da barra de rolagem */
* {
    scrollbar-width: thin;
    scrollbar-color: #E9E9E9 whitesmoke;
  }
  *::-webkit-scrollbar {
    width: 20px;
  }
  
  *::-webkit-scrollbar-track {
    background: orgb(230, 230, 230);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #E9E9E9;
    border-radius: 20px;
    border: 3px solid whitesmoke;
  }

