:root{
    --cor-Principal: #2A356A;
}
body{
    display: flex;
    height: 100vh;
    width: 100%;
}


main{
    min-width: 1200px;
    min-height: 800px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    overflow-y: scroll;
}


#categorias{
    width: 85%;
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -50px;
}
h2{
    margin-top: 15px;
    font-size: 1.8em;
}
#paiSelect{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
.formatSelect{
    width: 270px;
    height: inherit;
    background-color: #2A356A;
}

select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: solid 2px #2A356A;
    color: #FFF;
    text-align: center;
    height: 40px;
    width: 100%;
    
    border-radius: 5px;
    margin-bottom: 20px;
    padding-left: 10px;
    background: url(../img/selectbranco.svg) no-repeat center right #FFF;
    font-size: 1.1rem;
    background-position-x: 95% ;
}

.formatSelect option {
    height: 50px;
    width: 50px;
    /* background-color: aqua; */
}

#conteudo{
    min-width: 100px;
    width: 70%;
    height: 700px;
    overflow-y: scroll;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom:20px ;
    margin-top: 30px;
    gap: 40px;
}

.containerInfo{
    width: 50%;
    height: 80%;
    display: flex;
    justify-content: end;
    margin: 10px;
    /* background-color: yellowgreen; */
}
.dadosExtrato{
    width: 100%;
    display: flex;
}
.containerImagem{
    width: 20%;
    height: 100%;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}
#anoAtual{
    color: #ffff;
    font-size: 1.2em;
    text-align: center;
}
.containerText{

    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
}

.textCategoria, .textLugar, .textValor{
    width: 100%;
    height: 20%;
}

.textLugar{
    color: #999999;
}



.dataFormatacao{

    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #CCCCCC;
    /* background-color: aqua; */
}
.caixa1{
    width: 95%;
    height: 140px;
    background-color: white;
    border: solid 1px whitesmoke;
    border-radius: 15px;
    display: flex;
    box-shadow: 0 4px 5px -2px rgb(140, 164, 243);
   
}
/* format da barra de rolagem */
* {
    scrollbar-width: thin;
    scrollbar-color: #E9E9E9 whitesmoke;
  }
  *::-webkit-scrollbar {
    width: 20px;
  }
  
  *::-webkit-scrollbar-track {
    background: orgb(230, 230, 230);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #E9E9E9;
    border-radius: 20px;
    border: 3px solid whitesmoke;
  }

#menuExtratos{
    border-left: solid 3px #fff;
    transition : 0.1s;
}

#anoAtual{
    height: 40px;
    width: 270px;
    /* background-color: #E70000; */
    display: flex;
}
/* input de ano  */
input[type="number"] {
    -webkit-appearance: textfield;
       -moz-appearance: textfield;
            appearance: textfield;
  }
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
  }
  input[type="number"]{

  height: 36px;
    width: 100%;

  background-color: #2A356A;
  color: white;
    font-size: larger;
    border-bottom-right-radius:0px ;
    border-top-right-radius: 0px;
    text-align: center;
    padding-left: 30px;
    outline: none;
  }
  label, input, button {
      font-size: inherit;

      -moz-box-sizing: content-box;
      -webkit-box-sizing: content-box;
      box-sizing: content-box;
  }
  button{
  height:40px;

  background-color: #2A356A;
  border: none;
  padding-left:2%;
  padding-right:4%;
  outline:none;
  cursor: pointer;
  color: white;

  }
.b{
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
#total{
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border: solid 2px #2A356A;
}



