#mainfavorito{
    width: 700px;
    height: auto;
    min-width: 500px;
    min-height: 60%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: white;
}
.estrela{
    width: 30px;
    height: 50px;
}
h3{ 
   width: 210px;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.editarIcone{
    width: 50px;
    height: 50px;
}
input{
    height: 20%;
    border: solid 1px white;
    padding: 0px;
}
.im{
    margin-bottom: 15px;
}
#caixas{
    width: 100%;
    height: auto;
    min-height: 580px;
    flex-direction: column;
    display: flex;
    flex-flow: row wrap;
    /* background-color: aqua; */
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.caixa1{
    width: 90%;
    height: 100px;
    border: solid 1px whitesmoke;
    border-radius: 15px;
    box-shadow: 0 4px 5px -2px rgb(140, 164, 243);
    display: flex;
    margin-top: 35px;

}

.containerInfo{

    width: 80%;
    height: 100%;
    display: flex;
}

.containerInfoData{

    width: 20%;
    height: 100%;
    padding-right: 15px;
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: center;
    color: #2A356A;
    font-weight: bold;
 
}

.containerImagem{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerText{
 
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#editImgExcluir{
    width: 10px;
    height: 50px;
    margin-left: 10px;
    margin-top: 50px;
}

.textCategoria, .textLugar, .textValor{

    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    color: #000000;
    font-size: 1rem;
    padding-left: 10px;
    padding-top: 8px;
}

.textLugar{

    color: #646464;
    font-size: 1rem;
}

.textValor{

    color: #E70000;
    font-size: 1.1rem;
}

.dataFormatacao{
    font-size: 0.8rem;
}

.botao{

    width: 100%;
    height: 50px;
    padding-left: 25px;
    display: flex;
    /* background-color: aqua; */
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom   : 30px;
}

#button1{
    width: 120px;
    height: 50px;
    background-color: white;
    color: #2A356A;
    font-size: 15px;
    padding: 0px;
    border: solid 1px whitesmoke;
    text-align: center;
    box-shadow: 0 4px 5px -2px rgb(140, 164, 243);
}
#button2{
    width: 120px;
    height: 50px;
    background-color: #2A356A;
    color: white;
    font-size: 15px;
    padding: 0px;
    text-align: center;
}

/* format da barra de rolagem */
* {
    scrollbar-width: thin;
    scrollbar-color: #E9E9E9 whitesmoke;
  }
  *::-webkit-scrollbar {
    width: 20px;
  }
  
  *::-webkit-scrollbar-track {
    background: orgb(230, 230, 230);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #E9E9E9;
    border-radius: 20px;
    border: 3px solid whitesmoke;
  }

#containerFavorito{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.botaoReceita{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 5px;
}
.tituloFavorito{
    width: 60%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

p{
    margin-top: -10px;
}