svg#freepik_stories-high-five:not(.animated) .animable {
    opacity: 0;
}

svg#freepik_stories-high-five.animated #el085jj1c279fl {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0s;
}

svg#freepik_stories-high-five.animated #el2im2lcwzc29 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.018867924528301886s;
    opacity: 0
}

svg#freepik_stories-high-five.animated #el0kwh0zf46gi {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.03773584905660377s;
    opacity: 0
}

svg#freepik_stories-high-five.animated #eloiz41tk1s2 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.05660377358490566s;
    opacity: 0
}

svg#freepik_stories-high-five.animated #elp5oeo2w6v6 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.07547169811320754s;
    opacity: 0
}

svg#freepik_stories-high-five.animated #el0dyqdfr7u1ok {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.09433962264150943s;
    opacity: 0
}

svg#freepik_stories-high-five.animated #el9307dj0bell {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.11320754716981132s;
    opacity: 0
}

svg#freepik_stories-high-five.animated #elfpvx8x8lg3b {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.1320754716981132s;
    opacity: 0
}

svg#freepik_stories-high-five.animated #elci3gnsvtd2o {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.1509433962264151s;
    opacity: 0
}

svg#freepik_stories-high-five.animated #els9r80cpmd9 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.16981132075471697s;
    opacity: 0
}

svg#freepik_stories-high-five.animated #elpu1qvwqmkhl {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.18867924528301885s;
    opacity: 0
}

svg#freepik_stories-high-five.animated #el94no56kg2qk {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.20754716981132074s;
    opacity: 0
}

svg#freepik_stories-high-five.animated #eltgh70fd6vu {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.22641509433962265s;
    opacity: 0
}

svg#freepik_stories-high-five.animated #el8n14p44s9ea {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.24528301886792453s;
    opacity: 0
}

svg#freepik_stories-high-five.animated #el0fg1c92xc94h {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.2641509433962264s;
    opacity: 0
}

svg#freepik_stories-high-five.animated #el9q2n85k81jg {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.2830188679245283s;
    opacity: 0
}

svg#freepik_stories-high-five.animated #el8r7u8lc6bmk {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.3018867924528302s;
    opacity: 0
}

svg#freepik_stories-high-five.animated #elf2zuzctqmtn {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.32075471698113206s;
    opacity: 0
}

svg#freepik_stories-high-five.animated #el3rcoeyvnuun {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.33962264150943394s;
    opacity: 0
}

svg#freepik_stories-high-five.animated #ell96fm5atw2l {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.3584905660377358s;
    opacity: 0
}

svg#freepik_stories-high-five.animated #eluz6lyiwduzp {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.3773584905660377s;
    opacity: 0
}

svg#freepik_stories-high-five.animated #elm66736bnys {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.3962264150943396s;
    opacity: 0
}

svg#freepik_stories-high-five.animated #elch0sfw4ydu6 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.4150943396226415s;
    opacity: 0
}

svg#freepik_stories-high-five.animated #eld8odmx9349g {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.43396226415094336s;
    opacity: 0
}

svg#freepik_stories-high-five.animated #elhxfclsrv6cn {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.4528301886792453s;
    opacity: 0
}

svg#freepik_stories-high-five.animated #elt4jd23vgk2 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.4716981132075472s;
    opacity: 0
}

svg#freepik_stories-high-five.animated #el75eg2wiwebq {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.49056603773584906s;
    opacity: 0
}

svg#freepik_stories-high-five.animated #elaxtus2z09qe {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.5094339622641509s;
    opacity: 0
}

svg#freepik_stories-high-five.animated #el7y1y8j16r6w {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.5283018867924528s;
    opacity: 0
}

svg#freepik_stories-high-five.animated #elfwg7wg08s9t {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.5471698113207547s;
    opacity: 0
}

svg#freepik_stories-high-five.animated #el8s2e3365sdt {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.5660377358490566s;
    opacity: 0
}

svg#freepik_stories-high-five.animated #elh6zmf31624g {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.5849056603773585s;
    opacity: 0
}

svg#freepik_stories-high-five.animated #elq2z60d1fduh {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.6037735849056604s;
    opacity: 0
}

svg#freepik_stories-high-five.animated #elwtx2zi4un4j {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.6226415094339622s;
    opacity: 0
}

svg#freepik_stories-high-five.animated #elj67neuc1a7r {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.6415094339622641s;
    opacity: 0
}

svg#freepik_stories-high-five.animated #elw841vfxm68q {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.660377358490566s;
    opacity: 0
}

svg#freepik_stories-high-five.animated #eltf1i9bgutr {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.6792452830188679s;
    opacity: 0
}

svg#freepik_stories-high-five.animated #elbbh59lhco1l {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.6981132075471698s;
    opacity: 0
}

svg#freepik_stories-high-five.animated #el4wwfyykqw6e {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.7169811320754716s;
    opacity: 0
}

svg#freepik_stories-high-five.animated #elpfovwu7ab5 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.7358490566037735s;
    opacity: 0
}

svg#freepik_stories-high-five.animated #el61sdi25mfqm {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.7547169811320754s;
    opacity: 0
}

svg#freepik_stories-high-five.animated #el5dcmqq55akh {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.7735849056603773s;
    opacity: 0
}

svg#freepik_stories-high-five.animated #el9qte3xanc8r {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.7924528301886792s;
    opacity: 0
}

svg#freepik_stories-high-five.animated #elovqbmz9989 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.8113207547169811s;
    opacity: 0
}

svg#freepik_stories-high-five.animated #eli9hx5vzao7p {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.830188679245283s;
    opacity: 0
}

svg#freepik_stories-high-five.animated #elcgpuen36qx {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.8490566037735848s;
    opacity: 0
}

svg#freepik_stories-high-five.animated #elkqo8r8g21gi {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.8679245283018867s;
    opacity: 0
}

svg#freepik_stories-high-five.animated #el9mrqjfch3vc {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.8867924528301886s;
    opacity: 0
}

svg#freepik_stories-high-five.animated #elfwe6cseuhkg {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.9056603773584906s;
    opacity: 0
}

svg#freepik_stories-high-five.animated #elh37y7cj21lo {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.9245283018867925s;
    opacity: 0
}

svg#freepik_stories-high-five.animated #el72lra3zc2yp {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.9433962264150944s;
    opacity: 0
}

svg#freepik_stories-high-five.animated #elmk0qd1481n {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.9622641509433962s;
    opacity: 0
}

svg#freepik_stories-high-five.animated #eluukcksb7nn {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.9811320754716981s;
    opacity: 0
}

svg#freepik_stories-high-five.animated #freepik--background-complete--inject-14 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0s;
}

svg#freepik_stories-high-five.animated #freepik--character-2--inject-14 {
    animation: 1.5s Infinite linear heartbeat;
    animation-delay: 0s;
}

svg#freepik_stories-high-five.animated #freepik--character-1--inject-14 {
    animation: 1.5s Infinite linear heartbeat;
    animation-delay: 0s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }
    10% {
        transform: scale(1.1);
    }
    30% {
        transform: scale(1);
    }
    40% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    60% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}