body{
    background-color: whitesmoke;
    display: flex;
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
}
        /********************** INICIO ESTILIZACOES ACESSO RAPIDO ***********************/

main{
    width: 100%;
    min-width: 1000px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    padding: 2%;
    padding-left: 5%;
    overflow: scroll;
}

#PrimeiraCaixa{
    width: 90%;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    border: solid 1px whitesmoke;
    box-shadow: 0 4px 5px -2px rgb(140, 164, 243);
}
.divisaoInformacoes{
    width: 30%;
    height: 90%;
    display: flex;
    align-items: center;
    margin-left: 5%;
}
/* estilizacao radio */

.custom-radio input {
    display: none;
}


.custom-radio input + label:before {

    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid black;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    margin-bottom: 3px;
    background-color: white;
}

.custom-radio input:checked + label:before {

    background-color: white;
    border: 8px solid #2A356A;
    box-sizing: border-box;
    padding: 5px;
}
/* fim da estilizacao */

.campoInf, .campoInf1{

    width: 80%;
    height:70px;
    border-radius: 50px;
    box-shadow: 0 0 0.5em rgb(165, 180, 195);
    display: flex;
}

.campoInf1{
    width: 60%;
    height: 80px;
}
.formImg{
  
    height: 70px;
    width: 70px;
}
.formImg1{
    height: 80px;
    width: 80px;
}


#conteudo{ 
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.sobreConteudo{

    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999999;
    font-family: roboto;
    font-size: 16px;
   
}

.valorConteudo{

    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.sobreConteudo h3{
    font-size: 1.5em;
    color: black;
    margin-left: -30px;
}

/*  conteudos da PrimeiraCaixa  */

#format{
    width: 50%;
    height: 40px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: -8%;
    justify-content: center;
}
.formatLabel{
    font-size: 1.7em;
    color: #444444;
    font-weight: 500;
}

#formatInput{
    width: 40%;
    height: 30%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

}

.inpu{
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inpu1{
    width: 50%;
    height: 100%;
  
}

.label{

  margin-left: 10px;
  color: #444444;
  font-weight: 600;
  font-size: 1.2rem;

}

.input{

    height: 32px;
    width: 11%;
    border: solid 2px #2A356A;
    border-radius: 5px;
    margin-top: 14px;

}
/* estilizando os checkeds */



    /* Selects */

#formatSelect{
    width: 90%;
    height: 100px;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    gap: 70px;
}
.select{
    background-color: #2A356A;
}
option{
    background-color: #E9EEFF;
    color: #858585;
    border-radius: 4px;
    font-weight: 500;
    margin-bottom: 5%;
   
   
}

select:focus{
    border: 0 none;
    outline: 0;
    box-shadow: 0 0 0 0;
}
select{

    width: 320px;
    height: 47px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: solid 2px #2A356A;
    color: #FFF;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
    background: url(../img/selectbranco.svg) no-repeat center right #FFF;
    font-size: 1.1rem;
    background-position-x: 95% ;
    
}

#editSelect{

    width: 45%;
    height: 5%;
    display: flex;
    margin-left: 25%;
    margin-bottom: 10px;
    align-items: center;
    gap: 100px;
}

    /* input 2 */

#formatInput2{

    width: 50%;
    height: 70px;
    display: flex;
    justify-content: center;
    margin-left: 18%;
    margin-top: 1.2%;

}


    /* Grafico  */

#grafico{
    width: 90%;
    height: 60%;
    background-color: #2A356A;
}

    