body {
    background-color: whitesmoke;
    display: flex;
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
}

#menuGraficos {
    border-left: solid 3px white;
}

/********************** INICIO ESTILIZACOES ACESSO RAPIDO ***********************/

main {
    width: 100%;
    min-width: 1300px;
    min-height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    overflow: scroll;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}



#PrimeiraCaixa {

    width: 100%;
    min-height: 180px;
    background-color: white;
    border-radius: 10px;
    border: transparent;
    box-shadow: 0 4px 5px -2px rgb(140, 164, 243);
    display: flex;
}

#ilustrationGraphic {

    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ilustrationIformation {
    width: 75%;
    height: 100%;
    /* background-color: #444444; */
    display: flex;
    flex-direction: column;
}

.divInforLetra,
.divInforRadios {
    width: 100%;
    height: 50%;
    /* background-color: aqua; */

}

#formatacaoLetra {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    font-weight: 500;
    color: #444444;
    text-align: center;

    /* background-color: #2A356A; */
}

#formatacaoRadio {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.label {

    margin-left: 10px;
    color: #444444;
    font-weight: 600;
    font-size: 1.2rem;

}

#agregaConteudoSelects {

    width: 100%;
    height: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    /* background-color: #5AD4AB; */
}

.containerSeletcs {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: beige; */
}

.formatSelect {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}

select {
    width: 310px;
    height: 50px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: solid 2px #2A356A;
    color: #FFF;
    text-align: center;
    border-radius: 5px;
    background: url(../img/selectbranco.svg) no-repeat center right #FFF;
    font-size: 20px;
    background-position-x: 95%;

}

.divisaoInformacoes {
    width: 30%;
    height: 90%;
    display: flex;
    align-items: center;
    margin-left: 5%;

}


.formImg {

    height: 70px;
    width: 70px;
}

.formImg1 {
    height: 80px;
    width: 80px;
}

.sobreConteudo {

    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999999;
    font-family: roboto;
    font-size: 16px;

}

.sobreConteudo h3 {
    font-size: 1.5em;
    color: black;
    margin-left: -30px;
}

/*  conteudos da PrimeiraCaixa  */

#formatacaoTituto {
    width: 100%;
    height: 30%;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: #444444;
}

#conteudo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.campoInf1 {

    width: 80%;
    height: 80px;
    border-radius: 50px;
    box-shadow: 0 0 0.5em rgb(165, 180, 195);
    display: flex;
}

#ilustrationInfo {
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#formatInput {
    width: 100%;
    display: flex;
    justify-content: center;
}

#subSeparacao {

    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.anual {
    margin-left: -20%;
}

#formatInput h3 {
    width: 200px;
    height: 40px;
    font-size: 1.3em;
    margin-left: -30%;
    display: flex;
    align-items: center;
}

.inpu1 {
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}



.input {

    height: 32px;
    width: 11%;
    border: solid 2px #2A356A;
    border-radius: 5px;
    margin-top: 14px;

}

/* estilizacao radio */

.custom-radio input {
    display: none;
}


.custom-radio input+label:before {

    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid black;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    margin-bottom: 3px;
    background-color: white;
}

.custom-radio input:checked+label:before {

    background-color: #5AD4AB;
    border: 8px solid #5AD4AB;
    box-sizing: border-box;
    padding: 3px;
}






.select {
    background-color: #2A356A;
}




.editar {
    margin-left: -30%;
}

/* Grafico  */

#editDivs {
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    background-color: white;
    box-shadow: 0 0 0.5em rgb(175, 208, 241);
    border-radius: 6px;
}

.lugarGrafico {
    width: 50%;
    height: 100%;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

#receita {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: white;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-left: solid 3px #2A356A;
}

.titulo {

    width: 100%;
    height: 10%;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}

.dividir {
    width: 100%;
    height: auto;

}

.teste {
    width: 50%;
    height: 90%;

}

.agregaInformacoes {

    width: 100%;
    height: 20%;
    display: flex
}

.agregaValores {
    width: 100%;
    height: 90%;
    display: flex;
    border-bottom: 1px solid rgb(116, 116, 116);

}

#caixaParaCentralizar {
    width: 90%;
    height: 95%;
    overflow: auto;
}


#cardTitulo {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: solid 1px whitesmoke;
    display: flex;
    color: black;
    font-weight: 500;
    font-size: 1.4rem;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 5px -2px rgb(190, 205, 255);
}

.info {
    width: 100%;
    height: 15%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.valorTransf {
    width: inherit;
    height: 100%;
    color: #2A356A !important;
    font-weight: 500;
    font-size: 1.3rem;
    margin-top: 8px;
    text-align: center;
}

.imagem {
    width: auto;
    height: auto;
    font-size:50px;
}
.nomeCatLista{
    height: 100%;
}

.p {
    color: #2A356A;
    font-weight: 500;
    font-size: 1.3rem;
    padding-top: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
}

#anoAtual {
    height: 47px;
    width: 320px;
    /* background-color: #E70000; */
    display: flex;
    color: #ffff;
    font-size: 1.2em;
    text-align: center;
}

/* input de ano  */
input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {

    height: 46px;
    width: 220px;
    margin-left: 2px;
    background-color: #2A356A;
    color: white;
    font-size: larger;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    text-align: center;
    padding-left: 30px;
    outline: none;
}
#selectMes{
    margin-left: -8px;
}
label,
input,
button {
    font-size: inherit;

    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

button {
    height: 50px;

    background-color: #2A356A;
    border: none;
    padding-left: 2%;
    padding-right: 4%;
    outline: none;
    cursor: pointer;
    color: white;

}

.b {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

#total {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border: solid 2px #2A356A;
}