body{
    background-color: whitesmoke;
    display: flex;
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
}
        /********************** INICIO ESTILIZACOES ACESSO RAPIDO ***********************/

main{
    width: 100%;
    min-width: 1300px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    padding: 1%;
    padding-left: 5%;
    overflow: scroll;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
::-webkit-scrollbar {
    width: 0px;
}

#PrimeiraCaixa{
    width: 90%;
    height: 180px;
    border-radius: 8px;
    background-color: white;
    justify-content: center;
    border:transparent;
    box-shadow: 0 4px 5px -2px rgb(140, 164, 243);
    display: flex;
}
.divisaoInformacoes{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}


.ilustrationGraphic{

    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}   

.ilustrationIformation{

    width: 70%;
    height: 100%;

}
.divInforLetra, .divInforRadios{

    width: 100%;
    height: 50%;
    margin-left: 100px;

}

#formatacaoLetra{
    width: 50%;
    height: 100%;
    min-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    font-weight: 500;
    color: #444444;
 
}

#formatacaoRadio{
    width: 50%;
    height: 100%;
    display: flex;
}

/*  conteudos da PrimeiraCaixa  */

#format{
   
    width: 70px;
    height: 10%;
    background-color: #2e9a00;

}

.inpu1{
    width: 50%;
    height: 100%;
  
}

.input{

    height: 32px;
    width: 11%;
    border: solid 2px #2A356A;
    border-radius: 5px;
    margin-top: 14px;

}

/*  fim conteudos da PrimeiraCaixa  */

/* estilizacao radio */

.custom-radio input {
    display: none;
}


.custom-radio input + label:before {

    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid black;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    margin-bottom: 3px;
    background-color: white;
}

.custom-radio input:checked + label:before {

    background-color: #5AD4AB;
    border: 8px solid #5AD4AB;
    box-sizing: border-box;
    padding: 3px;
}
/* fim da estilizacao */

.campoInf, .campoInf1{

    width: 80%;
    height:70px;
    border-radius: 50px;
    box-shadow: 0 0 0.5em rgb(165, 180, 195);
    display: flex;
}

.campoInf1{
    width: 60%;
    height: 80px;
}
.formImg{
  
    height: 70px;
    width: 70px;
}
.formImg1{
    height: 80px;
    width: 80px;
}


#conteudo{ 
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.sobreConteudo{

    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999999;
    font-family: roboto;
    font-size: 16px;
   
}

.valorConteudo{

    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.sobreConteudo h3{
    font-size: 1.5em;
    color: black;
    margin-left: -30px;
}

#formatInput{
    width: 85%;
    height: 28%;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;

}

.inpu{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inpu1{
    width: 50%;
    height: 100%;
  
}

.label{

  margin-left: 10px;
  color: #444444;
  font-weight: 600;
  font-size: 1.2rem;

}

.input{

    height: 32px;
    width: 11%;
    border: solid 2px #2A356A;
    border-radius: 5px;
    margin-top: 14px;

}
/* estilizando os checkeds */



    /* Selects */

#formatSelect{
    width: 100%;
    height: auto;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    gap: 70px;
}
.select{
    background-color: #2A356A;
}
option{
    background-color: #E9EEFF;
    color: #858585;
    border-radius: 4px;
    font-weight: 500;
    margin-bottom: 5%;
   
   
}

select:focus{
    border: 0 none;
    outline: 0;
    box-shadow: 0 0 0 0;
}
select{

    width: 320px;
    height: 47px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: solid 2px #2A356A;
    color: #FFF;
    border-radius: 6px;
    margin-bottom: 60px;
    text-align: center;
    background: url(../img/selectbranco.svg) no-repeat center right #FFF;
    font-size: 1.2rem;
    background-position-x: 95% ;
    
}

#editSelect{

    width: 100%;
    min-width: 100px;
    height: 60px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    align-items: center;
    gap: 100px;

}
#responsiveSelects{
    width: 90%;
    height: 250px;
    min-width: 100px;   
    padding-top: 32px;
}

    /* input 2 */

.editarRadios{
    width: 90%;
    height: 70px;
    display: flex;
    justify-content: center;
}

#formatInput2{

    min-width: 100px;
    width: 50%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}


    /* Grafico  */

#grafico{
    width: 90%;
    height: 60%;
    box-shadow: 0 0 0.5em rgb(175, 208, 241);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
}

#menuGraficos{
    border-left: solid 3px #fff;
    transition : 0.1s;
}