body{
    background-color: whitesmoke;
    display: flex;
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
}
        /********************** INICIO ESTILIZACOES ACESSO RAPIDO ***********************/

        main{
            width: 100%;
            min-width: 1000px;
            height: 100%;
            background-color: rgb(255, 255, 255);
            display: flex;
            flex-direction: column;
            padding: 2%;
            padding-left: 5%;
            overflow: scroll;
        }
        #PrimeiraCaixa{
            width: 90%;
            height: 200px;
            background-color: white;
            border-radius: 10px;
            border: solid 1px whitesmoke;
            box-shadow: 0 4px 5px -2px rgb(140, 164, 243);
        }
        .divisaoInformacoes{
            width: 30%;
            height: 90%;
            display: flex;
            align-items: center;
            margin-left: 5%;
        }
        .campoInf, .campoInf1{

            width: 80%;
            height:70px;
            border-radius: 50px;
            box-shadow: 0 0 0.5em rgb(165, 180, 195);
            display: flex;
        }

        .campoInf1{
            width: 60%;
            height: 80px;
        }
        .formImg{
            /* background-color: blue; */
            height: 70px;
            width: 70px;
        }
        .formImg1{
            height: 80px;
            width: 80px;
        }


        #conteudo{ 
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            /* background-color: darkorange; */
        }

        .sobreConteudo{

            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #999999;
            font-family: roboto;
            font-size: 16px;
            /* background-color: yellow; */
        }

        .valorConteudo{

            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            /* background-color: tomato; */
        }
       .sobreConteudo h3{
            font-size: 1.5em;
            color: black;
            margin-left: -30px;
        }

        /*  conteudos da PrimeiraCaixa  */

        #format{
            width: 50%;
            height: 40px;
            display: flex;
            margin-left: auto;
            margin-right: auto;
            margin-top: -8%;
            justify-content: center;
            /* background-color: bisque; */
        }
        .formatLabel{
            font-size: 1.7em;
        }
       #formatInput{
           width: 40%;
           display: flex;
           justify-content: center;
           /* align-items: center; */
           margin-left: auto;
           margin-right: auto;
           margin-top: 3%;
           /* background-color: aqua; */
       }
       .anual{
           margin-left: -20%;
       }
       #formatInput h3{
           width: 200px;
           height: 40px;
           font-size: 1.3em;
           /* background-color: beige; */
           margin-left: -30%;
           display: flex;
           align-items: center;
       }
       
       /* Selects */

       #formatSelect{
           width: 90%;
           height: 100px;
           /* background-color: aqua; */
           margin-top: 2%;
           display: flex;
           justify-content: center;
           gap: 70px;
       }
       select{
           width: 380px;
           height: 40px;
           
       }
       #editSelect{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 100px;
       }