body {
    background-color: whitesmoke;
    display: flex;
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
}

/********************** INICIO ESTILIZACOES ACESSO RAPIDO ***********************/

main {
    width: auto;
    min-width: 1850px;
    height: auto;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    overflow: scroll;
}

#PrimeiraCaixa {

    width: 90%;
    height: 180px;
    min-width: 1300px;
    min-height: 200px;
    background-color: white;
    border-radius: 10px;
    border: transparent;
    box-shadow: 0 4px 5px -2px rgb(140, 164, 243);
    display: flex;
}

.divisaoInformacoes {
    width: 30%;
    height: 90%;
    display: flex;
    align-items: center;
    margin-left: 5%;

}

.campoInf1 {
    width: 60%;
    height: 80px;
}

.formImg {
   
    height: 70px;
    width: 70px;
}

.formImg1 {
    height: 80px;
    width: 80px;
}
.sobreConteudo {

    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999999;
    font-family: roboto;
    font-size: 16px;
  
}

.sobreConteudo h3 {
    font-size: 1.5em;
    color: black;
    margin-left: -30px;
}

/*  conteudos da PrimeiraCaixa  */

#formatacaoTituto {
    width: 100%;
    height: 30%;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: #444444;
}


#ilustrationGraphic{

    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#conteudo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.campoInf1 {

    width: 80%;
    height: 70px;
    border-radius: 50px;
    box-shadow: 0 0 0.5em rgb(165, 180, 195);
    display: flex;
}

#ilustrationInfo{
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#formatInput {
    width: 100%;
    display: flex;
    justify-content: center;
}

#subSeparacao{

    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.anual {
    margin-left: -20%;
}

#formatInput h3 {
    width: 200px;
    height: 40px;
    font-size: 1.3em;
    margin-left: -30%;
    display: flex;
    align-items: center;
}

.inpu1 {
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.label {

    margin-left: 10px;
    color: #444444;
    font-weight: 600;
    font-size: 1.2rem;

}

.input {

    height: 32px;
    width: 11%;
    border: solid 2px #2A356A;
    border-radius: 5px;
    margin-top: 14px;

}

/* estilizacao radio */

.custom-radio input {
    display: none;
}


.custom-radio input + label:before {

    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid black;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    margin-bottom: 3px;
    background-color: white;
}

.custom-radio input:checked + label:before {

    background-color: #5AD4AB;
    border: 8px solid #5AD4AB;
    box-sizing: border-box;
    padding: 3px;
}

#formatSelect {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-top: 10px;
  
}

#agregaConteudoSelects{

    width: 90%;
    height: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.containerSeletcs{
    width: 100%;
    height: 50%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.select {
    background-color: #2A356A;
    margin-left: 15px;
}

select {
    width: 310px;
    height: 50px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: solid 2px #2A356A;
    color: #FFF;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 20px;
    padding-left: 15px;
    background: url(../img/selectbranco.svg) no-repeat center right #FFF;
    font-size: 1rem;
    background-position-x: 95%;

}

/* input 2 */

#formatInput2 {
    width: 50%;
    height: 85px;
    display: flex;
    justify-content: center;
    margin-left: 18%;
    margin-top: 1.2%;

}

#formatInput2 h3 {
    width: 200px;
    height: 40px;
    font-size: 1.3em;
    margin-left: -45%;
    display: flex;
    align-items: center;
}

.editar {
    margin-left: -30%;
}

/* Grafico  */

#editDivs {
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 50px;
   
}

.lugarGrafico{
  
    width: 50%;
    height: 100%;
    border-radius: 10px;
    background-color: white;
    border: 1px solid whitesmoke;
    box-shadow: 0 4px 5px -2px rgb(140, 164, 243);

}
#receita {
    min-width: 640px;
    width:50%;
    min-height: 55vh;
    height: 100%;
    margin-left: 8%;
    background-color: #FAFAFA;
    border-radius: 10px;
    border: transparent;
    box-shadow: 0 4px 5px 2px rgb(182, 195, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.titulo{
    
    width: 100%;
    height: 10%;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}

.dividir{
    width: 100%;
    height: auto;

}

.teste{
    width: 50%;
    height: 90%;

}

.agregaInformacoes{

    width: 100%;
    height: 20%;
    display: flex
}

.agregaValores{
    width: 100%;
    height: 90%;
    display: flex;
    border-bottom: 1px solid rgb(116, 116, 116);

}

#caixaParaCentralizar {
    width: 90%;
    height: 95%;
    overflow: auto;
}


#cardTitulo {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: solid 1px whitesmoke;
    display: flex;
    color:black;
    font-weight: 500;
    font-size: 1.4rem;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 5px -2px rgb(190, 205, 255);
}

.info{
    width: 100%;
    height: 15%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}
.h4 {
    width: inherit;
    height: inherit;
    color: #2A356A;
    font-weight: 500;
    font-size: 1.3rem;
    padding-top: 20px;
    padding-right: 40px;
    text-align: center;
}
.imagem{
    width: 15%;
    height: 100%;
    margin: 8px;
}
 .p{
    color: #2A356A;
    font-weight: 500;
    font-size: 1.3rem;
    padding-top: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
 }