body{
    background-color: whitesmoke;
    display: flex;
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
}
        /********************** INICIO ESTILIZACOES ACESSO RAPIDO ***********************/

        main{
            width: auto;
            min-width: 2350px;
            min-height: 100vh;
            height: auto;
            background-color: rgb(255, 255, 255);
            display: flex;
            flex-direction: column;
            padding: 2%;
            padding-left: 5%;
            overflow: scroll;
        }

        #PrimeiraCaixa{
            min-width: 1000px;
            width: 96%;
            min-height: 200px;
            height: auto;
            background-color: white;
            border-radius: 10px;
            border: solid 1px whitesmoke;
            box-shadow: 0 4px 5px -2px rgb(140, 164, 243);
        }
        .divisaoInformacoes{
            width: 30%;
            height: 90%;
            display: flex;
            align-items: center;
            margin-left: 5%;
        }
        .campoInf, .campoInf1{

            width: 80%;
            height:70px;
            border-radius: 50px;
            box-shadow: 0 0 0.5em rgb(165, 180, 195);
            display: flex;
        }

        .campoInf1{
            width: 60%;
            height: 80px;
        }
        .formImg{
            /* background-color: blue; */
            height: 70px;
            width: 70px;
        }
        .formImg1{
            height: 80px;
            width: 80px;
        }


        #conteudo{ 
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            /* background-color: darkorange; */
        }

        .sobreConteudo{

            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #999999;
            font-family: roboto;
            font-size: 16px;
            /* background-color: yellow; */
        }

        .valorConteudo{

            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            /* background-color: tomato; */
        }
       .sobreConteudo h3{
            font-size: 1.5em;
            color: black;
            margin-left: -30px;
        }

        /*  conteudos da PrimeiraCaixa  */

        #format{
            width: 50%;
            height: 40px;
            display: flex;
            margin-left: auto;
            margin-right: auto;
            margin-top: -7%;
            justify-content: center;
        }
        .formatLabel{
            font-size: 1.7em;
            color: #444444;
            font-weight: 500;
        }
       #formatInput{
           width: 40%;
           display: flex;
           justify-content: center;
           margin-left: auto;
           margin-right: auto;
           margin-top: 3%;
       }
       .anual{
           margin-left: -20%;
       }
       #formatInput h3{
           width: 200px;
           height: 40px;
           font-size: 1.3em;
           /* background-color: beige; */
           margin-left: -30%;
           display: flex;
           align-items: center;
       }

       .inpu1{
        width: 45%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .label{
    
      margin-left: 10px;
      color: #444444;
      font-weight: 600;
      font-size: 1.2rem;
    
    }
    
    .input{
    
        height: 32px;
        width: 11%;
        border: solid 2px #2A356A;
        border-radius: 5px;
        margin-top: 14px;
    
    }
       
       /* Selects */

       #formatSelect{
           width: 50%;
           height: 100px;
           margin-top: 2%;
           display: flex;
           justify-content: center;
           gap: 70px;
           margin-left: 20%;
       }
       #editSelect1{
        width: 50%;
        height: 100px;
        display: flex;
        margin-bottom: 10px;
        align-items: center;
        gap: 70px;
        margin-left: 20%;
   }
       .select{
           background-color: #2A356A;
       }
       select{
            width: 310px;
            height: 50px;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            border: solid 2px #2A356A;
            color: #FFF;
            text-align: center;
            border-radius: 5px;
            margin-bottom: 20px;
            padding-left: 15px;
            background: url(../img/selectbranco.svg) no-repeat center right #FFF;
            font-size: 1rem;
            background-position-x: 95% ;
           
       }

       /* input 2 */

       #formatInput2{
        width: 50%;
        height: 85px;
        /* background-color: aqua; */
        display: flex;
        justify-content: center;
        margin-left: 18%;
        margin-top: 1.2%;

    }
       #formatInput2 h3{
        width: 200px;
        height: 40px;
        font-size: 1.3em;
        /* background-color: beige; */
        margin-left: -45%;
        display: flex;
        align-items: center;
       }
       .editar{
        margin-left: -30%;
   }

       /* Grafico  */

       #editDivs{
           width: 100%;
           height: 70%;
           display: flex;
           gap: 70px;
       }
       #grafico{
           width: 55%;
           height:  100%;
           background-color: #2A356A;
       }
       #receita{
           min-width: 640px;
           width: auto;
           min-height: 55vh;
           height: auto;
           margin-left: 8%;
           background-color: white;
           border-radius: 10px;
           border: solid 1px whitesmoke;
           box-shadow: 0 4px 5px -2px rgb(140, 164, 243);
           display: flex;
           justify-content: center;
           align-items: center;
           padding: 10px;
       }
       h2{
         display: flex;
         justify-content: center;  
       }

       /* Caixa 1 */

       #caixa1{
           width: 90%;
           height: 95%;
           /* background-color: aqua; */
       }
       #conteudoCaixa1{
           width: 100%;
           height: 50px;
           border-radius: 5px;
           margin-top: 8%;
           border: solid 1px whitesmoke;
           display: flex;
           align-items: center;
           box-shadow: 0 4px 5px -2px rgb(140, 164, 243);
       }
      .textEdit1{
          color: black;
          font-size: 1.4em;
          margin-left: 5%;
      }
      .textEdit2{
        color: black;
        font-size: 1.4em;
        margin-left: 65%;
    }

    /* Caixa 2 */

    #caixa2{
        width: 100%;
        height: 75%;
        /* background-color: aqua; */
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
    }
    .editImg{
        height: 50px;
    }
    .editImg2{
        margin-left: -12px;
        height: 45px;
    }
    .icone1{
        display: flex;
        margin-top: 50px;
    }
    #conteudoCaixa2 p{
        color: #2A356A;
        margin-left: 10px;
        display: flex;
        align-items: center;
        font-size: 1.3em;
    }
    #conteudoCaixa2 h4{
        color: #2A356A;
        margin-left: 50%;
        display: flex;
        align-items: center;
        font-size: 1.1em;
    }

    /* Caixa 3 */

    #caixa3{
        width: 100%;
        height: 3px;
        background-color: #2A356A;
        margin-top: 25%;
    }
    .icone3{
        display: flex;
        margin-top: 50px;
    }
    .editImg3{
       margin-left: 40px;
       margin-top: 20px;
       height: 45px;
    }