body{
    height: 100vh;
    width: 100%;
    min-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2A356A;
}
main{
    width: 1000px;
    height: 60px;
    min-width: 600px;
    max-width: 1100px;
    min-height: 600px;
    border: solid 1px whitesmoke;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 4px 5px -2px rgb(140, 164, 243);
}

.container{
    width: 100%;
    height: 13%;
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
}

.t3{
    width: 25%;
    height: 100%;
    padding-top: 17px;
    padding-left: 20px;
    color: #444444;

}

.fotoX{
    width: 30px;
    height: 50%;

}

.infInput{
    width: 100%;
    height: 10%;
    display: flex;
    margin-top: 30px;
    margin-left: 60px;
    margin-right: 25px;
}

#input{
    width: 70%;
    height: 100%;
    padding-top: 10px;
    padding-left: 150px;
}

#botao input[type=submit]{

    width: 120px;
    height: 60%;
    background-color: #2A356A;
    margin-top: 10px;
    color: white;
    margin-left: 34px;
}

#botao input[type=submit]:hover{
    cursor: pointer;
}

#buttonConfirmar input[type=submit]:hover{
    cursor: pointer;
}

#buttonVoltar input[type=submit]:hover{
    cursor: pointer;
}

input{
    border: 1.5px solid rgb(42, 53, 106);
    height: 40px;
    width: 100%;
    border-radius: 4px;
}

#buttonVoltar, #buttonConfirmar{
    width: 165px;
    height: 38px;
    background-color: white;
    box-shadow: 0 4px 5px -2px rgb(140, 164, 243);
    color: #334690;
    font-size: 15px;
    text-align: center;
    border: transparent;
}

#buttonConfirmar{

    color: #ffffff;
    background-color: #334690;
}


/* CONTAINER */

#containerPai{

    width: 100%;
    height: 56%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
   
}

#containerFilho{

    width: 54%;
    height: 86%;
    margin-top: 45px;
    margin-left: -92px;

}

#armaCont{

    width: 90%;
    height: 80%;
    margin: -2px 49px 20px;
    border-radius: 4px;
    background-color: transparent;
    display: flex;
    border: 1px solid black;
}

.div{
    width: 50%;
    height: 100%;
    overflow-y: scroll;
    padding-left: 20px;
    

}

.testes{
    width: 95%;
    height: 10%;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.informacao{
    width: 12%;
    height: 100%;

}

.informacao, .informacaoNome{
    width: 90%;
    color: #444444;
    font-size: 12px;
    text-align: center;

}
.informacaoNome{
    text-align: start;
    font-weight: bold;
}



/* INICIO ESTILIZACAO DA SCROLL DENTRO DA CAIXA*/

::-webkit-scrollbar {
    display: none;
}
  /* FIM ESTILIZACAO DA SCROLL */

.t1{
    width: 90%;
    height: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
}

/* CAIXA INFORMATIVA */

.caixa{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formatCaixa{
    width: 41%;
    height: 55px;
    display: flex;
    align-items: center;
    background-color: white;
    border: solid 1px whitesmoke;
    border-radius: 10px;
    box-shadow: 0 4px 5px -2px rgb(140, 164, 243);
}

.meta{
    margin-left: 35px;
}

h4{
    margin-left: 25px;
  }
