body{
    height: 100vh;
    width: 100%;
    min-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2A356A;
}
::-webkit-input-placeholder  { 

    font-size: 1.1rem;
 }
main{
    width: 1000px;
    height: 60px;
    min-width: 600px;
    max-width: 1100px;
    min-height: 600px;
    border: solid 1px whitesmoke;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 4px 5px -2px rgb(140, 164, 243);
}
.container{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
    
}

.t3{
    width: 25%;
    height: 100%;
    padding-top: 30px;
    padding-left: 20px;
    font-size: 1.5rem;
    font-weight: 600;
    color: #444444;

}

.h2{
    font-size: 1em;
    color: #444444;
}

.fotoX{
    width: 30px;
    height: 50%;
    margin-right: -7px;
    margin-top: 5px;

}

.caixa{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formatCaixa{
    width: 50%;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: white;
    border: solid 1px whitesmoke;
    border-radius: 10px;
    box-shadow: 0 4px 5px -2px rgb(140, 164, 243);
}
.meta{
    margin-left: 35px;
}

h4{
    margin-left: 25px;
    font-size: 1.1rem;
  }

#conteudoImagem{

    width: 100%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center ;
}

#img{
    width: 15%;
    height: 68%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#button1{
    width: 200px;
    height: 60px;
    background-color: white;
    color: #2A356A;
    font-size: 1.1rem;
    font-weight: 600;
    border: solid 1px whitesmoke;
    text-align: center;
    box-shadow: 0 4px 5px -2px rgb(140, 164, 243);
}
#button2{
    width: 200px;
    height: 60px;
    background-color: #2A356A;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}
.t1{
    width: 90%;
    height: 10%;
    display: flex;
    align-items: center;
    margin-top: 15px;
    justify-content: space-evenly;
}
#conteudoMeta{
    width: 75%;
    height: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -0.9%;

}

.h4{
    width: 25%;
    height: 100%;
    font-size: 0.9em;
    font-weight: 500;
    text-align: center;
    padding-top: 3px;
    display: flex;
    justify-content: flex-start;
}

.sepa{
    width: 100%;
    height: 20%;
    display: flex;
    
}

.lupa{
   width: 5%;
   height: 100%;

}