a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2A356A;
}
#main{
    max-width: 1440px;
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* box-shadow: inset 0 0 1em #2A056A; */
    /* background-color: #2A356A; */
    padding-right: 30px
}
.container{
    height: 100%;
    max-height: 960px;
    width: 49%;
    padding: 10px;
    /* border: solid 1px black; */
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

}

#fotoCadastro{
    height: 60%;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20%;
    /* background-color: aqua; */
}
#foto{
    height: 100%;
    width: 100%;
}
#principal{
    height: 90%;
    max-height: 960px;
    width: 100%;
    margin-top: 5%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#tituloPrincipal{
    height: 90px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#principalInputs{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left:40px; 
    padding-right: 40px;
    /* background-color: aqua; */
}
#senhas{
    height: auto;
    width: inherit;
    display: flex;
}
.editarIcone{
    width: 25px;
    height: 25px;
    margin-left: -35px;
    margin-top: 7px;
    cursor: pointer;
}
#recursosPrincipal{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
#checkbox{
    height: 16px;
    width: auto;
    display: flex;
    /* border: solid 1px black; */
}
#chxInput{
    height: 16px;
    width: auto;
    margin-right: 5px;
}

#googlePrincipal{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#cinza{
    color: #c4c4c4;
    margin-bottom: 5px;
}
#google{
    width: 120px;
}

