body{
    height: 100vh;
    width: 100%;
    min-width: 1000px;
    display: flex;
    overflow-y: hidden;
    align-items: center;
    justify-content: center;
    background-color: #2A356A;
}
main{
    width: 100%;
    height: 60%;
    min-width: 700px;
    max-width: 1440px;
    min-height: 60%;
    border: solid 1px whitesmoke;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 5px -2px rgb(140, 164, 243);
}
.container{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
}
h2{
    width: auto;
    height: auto;
    margin-left: 2%;
    margin-top: 30px;
}
.fotoX{
    width: 30px;
    height: 50px;
}
.caixa{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formatCaixa{
    width: 40%;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: white;
    margin-top: 6%;
    border: solid 1px whitesmoke;
    border-radius: 10px;
    box-shadow: 0 4px 5px -2px rgb(140, 164, 243);
}
.meta{
    margin-left: 35px;
}
h4{
  margin-left: 120px;
}
#conteudoMeta{
    width: 75%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
}
.inputCategoria{
    display: flex;
    border: solid 2px #2A356A;
    height: 50px;
    width: 100%;
    border-radius: 5px;
    padding-left: 10px;
    margin-top: 10px;
}
select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: solid 2px #2A356A;
    height: 40px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
    padding-left: 10px;
    background: url(../img/select.svg) no-repeat center right #FFF;
    font-size: 15px;
    background-position-x: 98% ;
}
#conteudoMeta h4{
    margin-left: 30px;
    margin-top: -25px;
}
.checkbox{
    width: 30px;
}
.edith4{
    margin-left: 10px;
    margin-top: -4.3%;
    color: rgb(83, 83, 83);
}
#button1{
    width: 15%;
    height: 50px;
    background-color: white;
    color: #2A356A;
    font-size: 15px;
    border: solid 1px whitesmoke;
    margin-left: 7%;
    margin-top: 5%;
    text-align: center;
    box-shadow: 0 4px 5px -2px rgb(140, 164, 243);
}
#button2{
    width: 15%;
    height: 50px;
    background-color: #2A356A;
    color: white;
    font-size: 15px;
    margin-left: 57%;
    text-align: center;
}