body{
    height: 100vh;
    width: 100%;
    min-width: 1000px;
    display: flex;
    overflow-y: hidden;
    align-items: center;
    justify-content: center;
    background-color: #2A356A;
}
main{
    width: 100%;
    height: auto;
    min-width: 200px;
    max-width: 1100px;
    min-height: 50%;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 5px -2px rgb(140, 164, 243);
}
.container{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
}
h2{
    width: auto;
    height: auto;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 1.5em;
}
.fotoX{
    width: 30px;
    height: 50px;
    margin-right: 10px;
}

.fotoX:hover, #button1, #button2{
     
    cursor: pointer;
}

.caixa{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;

}
.formatCaixa{
    width: 40%;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 5px -2px rgb(140, 164, 243);
}
.confirmacao{
    width: 40px;
    margin-top: 25px;
    margin-left: 40px;
}
h4{
  margin-left: 30px;
  margin-top: 10px;
  font-weight: 500;
}
.caixaPrincipal{
    width: 60%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px black;
    border-radius: 5px;
    margin-top: 40px;
}

.tTeste, .tTestes{
    width: 100%;
    height: 10%;
    margin-bottom: 10px;
    display: flex;
}

.tTestes{
    margin-top: 50px;
}

.t5, .valor{
    width: 50%;
    height: 100%;
    padding: 10px;
    font-size: 1em;
    color: #999999;
    font-weight: 500;
}

.valor{
    text-align: end;
    color: black;
}

#button1{
    width: 330%;
    height: 50px;
    background-color: white;
    color: #2A356A;
    font-size: 15px;
    border: solid 1px whitesmoke;
    text-align: center;
    margin-left: 80%;
    box-shadow: 0 4px 5px -2px rgb(140, 164, 243);
}
#button2{
    width: 250%;
    height: 50px;
    background-color: #2A356A;
    color: white;
    font-size: 15px;
    margin-left: 1200%;
    text-align: center;
}

.t1{
    width: 100%;
    height: 10%;
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    /* gap: 10;  */
    padding-top: 7%;
}
