body{
    height: 100vh;
    width: 100%;
    min-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2A356A;
}
main{
    width: 100%;
    height: auto;
    min-width: 600px;
    max-width: 1100px;
    min-height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border: solid 1px whitesmoke;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 5px -2px rgb(140, 164, 243);
}
.container{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
}
h2{
    width: auto;
    height: auto;
    margin-left: 20px;
    margin-top: 30px;
}

.caixa{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.formatCaixa{
    width: 40%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 5px -2px rgb(140, 164, 243);
}
.h4{

    margin: 20px;
    font-size: 1.2rem;
}
#espaco{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
}
#conteudoMeta{
    width: 75%;
    height: auto;
    /* background-color: antiquewhite; */
}
.inputCategoria{
    display: flex;
    border: solid 2px #2A356A;
    height: 50px;
    width: 100%;
    border-radius: 5px;
    padding-left: 10px;
    margin-top: 10px;
}
select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: solid 2px #2A356A;
    height: 40px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
    padding-left: 10px;
    background: url(../img/select.svg) no-repeat center right #FFF;
    font-size: 15px;
    background-position-x: 98% ;
}
#conteudoMeta h4{

    margin-left: 30px;
    margin-top: -25px;
}
.checkbox{
    width: 20px;
}
.edith4{

    margin-left: 30px;
    margin-top: -50px;
    font-weight: 500;
    color: rgb(83, 83, 83);
}
#button1{
    
    width: 220px;
    height: 50px;
    background-color: white;
    color: #2A356A;
    font-size: 1.1rem;
    border: transparent;
    text-align: center;
    box-shadow: 0 4px 5px -2px rgb(140, 164, 243);
}

#button2{
    width: 220px;
    height: 50px;
    background-color: #2A356A;
    color: white;
    font-size: 1.1rem;
    
}

.t1{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

   
}