body{
    height: 100vh;
    width: 100%;
    min-width: 1000px;
    display: flex;
    overflow-y: hidden;
    align-items: center;
    justify-content: center;
    background-color: #2A356A;
}
main{
    width: 100%;
    height: auto;
    min-width: 200px;
    max-width: 1100px;
    min-height: 50%;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 5px -2px rgb(140, 164, 243);
}
.container{
    width: 100%;
    height: 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
}

h2{
    width: auto;
    height: auto;
    margin-left: 20px;
    margin-top: 20px;
}
.fotoX{
    width: 30px;
    height: 50px;
    margin-right: 10px;
    
}

.fotoX:hover, #button1, #button2{
     
    cursor: pointer;
}

.caixa{
    width: 80%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 90px;
}
.formatCaixa{
    width: 50%;
    height: 80px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 4px 5px -2px rgb(140, 164, 243);
}
.duracao{
    width: 38px;
    margin-left: 35px;
    margin-top: 5px;
}
.h4{
 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    text-align: center;
    font-weight: 500;
    margin: 30px;
}
#conteudoMeta{
    width: 75%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}
.date{
    display: flex;
    border: solid 2px #2A356A;
    height: 50px;
    width: 100%;
    border-radius: 5px;
    padding-left: 10px;
    margin-top: 10px;
}
#conteudoMeta h4{
    margin-left: 30px;
    margin-top: -25px;
}

#button1{
    
    background-color: white;
    color: #2A356A;
    font-size: 15px;
    border: transparent;
    box-shadow: 0 4px 5px -2px rgb(140, 164, 243);
}

#button2{
   
    background-color: #2A356A;
    color: white;

}

#button2, #button1{

    width: 180px;
    height: 50px;
    font-size: 1.1rem;
    text-align: center;
    font-weight: 600;
}
.t1{

    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
}

.date{
    appearance: none;
    background-position: absolute;
    padding-right: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(../img/calendario.svg) no-repeat center right #FFF;
    font-size: 15px;
    padding-right: 10px;
    background-position-x: 99% ;
    background-position-y: 96%;
} 
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    -webkit-appearance: none;
    opacity: 0;
}