body{
    height: 100vh;
    width: 100%;
    min-width: 1000px;
    display: flex;
    overflow-y: hidden;
    align-items: center;
    justify-content: center;
    background-color: #2A356A;
}
main{
    width: 100%;
    height: 60%;
    min-width: 200px;
    max-width: 1100px;
    min-height: 60px;
    border: solid 1px whitesmoke;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 5px -2px rgb(140, 164, 243);
}
.container{

    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
}
h2{
    width: auto;
    height: auto;
    margin-left: 20px;
    margin-top: 20px;
}
.fotoX{
    width: 30px;
    height: 50px;
    margin-right: 10px;
}

.fotoX:hover, #button1, #button2{
     
    cursor: pointer;
}
.caixa{

    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.formatCaixa{
    width: 40%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 5px -2px rgb(140, 164, 243);
}
.valor{
    width: 10%;
    height: 40%;

}
.h4{

    width: 80%;
    height: 40%;
    font-size: 0.9em;
    font-weight: 500;
    margin-top: 10px;
}
#conteudoMeta{
    width: 75%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
}
.inputValor{
    display: flex;
    border: solid 2px #2A356A;
    height: 50px;
    width: 100%;
    border-radius: 5px;
    padding-left: 10px;
    margin-top: 10px;
}
#conteudoMeta h4{
    margin-left: 30px;
    margin-top: -25px;
}
#conteudoMeta p{
    margin-top: -4.7%;
    margin-left: 97%;
}
#button1{
    width: 200px;
    height: 50px;
    background-color: white;
    color: #2A356A;
    font-size: 15px;
    border: solid 1px whitesmoke;
    text-align: center;
    box-shadow: 0 4px 5px -2px rgb(140, 164, 243);
}
#button2{
    width: 200px;
    height: 50px;
    background-color: #2A356A;
    color: white;
    font-size: 15px;
    text-align: center;
}

.t1{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 150px;
    padding-right: 260px;
    
}

@media (min-width: 600px)
{
    .t1{
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 150px;
        padding-right: 260px;
        padding-top: 50px;
    }
}