body{
    height: 100vh;
    width: 100%;
    min-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2A356A;
}
main{
    width: 100%;
    height: 60%;
    min-width: 600px;
    max-width: 1100px;
    min-height: 600px;
    border: solid 1px whitesmoke;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 4px 5px -2px rgb(140, 164, 243);
}

.container{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
}

.t3{
    width: 25%;
    height: 100%;
    padding-top: 40px;
    padding-left: 20px;

}

.p{
    color: black;
    font-size: 0.8em;
    padding-top: 2px;
}
.fotoX{
    width: 30px;
    height: 50%;

}

.infInput{
    width: 100%;
    height: 10%;
    display: flex;
    margin-top: 80px;
    margin-left: 60px;
    margin-right: 25px;
}

#input{
    width: 70%;
    height: 100%;
    padding-top: 10px;
    padding-left: 150px;
}

#botao input[type=submit]{

    width: 120px;
    height: 60%;
    background-color: #2A356A;
    margin-top: 10px;
    color: white;
    margin-left: -10px;

}

input{
    border: solid 1.5px #2A356A;
    height: 40px;
    width: 85%;
    border-radius: 4px;
   
}

/* CONTAINER */

#containerPai{

    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
   
}

#containerFilho{

    width: 70%;
    height: 100%;

}

.teste{
    width: 100%;
    height: 10%;
    display: flex;
}

.t1, .te1{
    width: 50%;
    height: 100%;
    padding-left: 100px;
    font-weight: bold;
}

.te1{
    text-align: end;
    padding-right: 150px;
}
#armaCont{

    width: 90%;
    height: 80%;
    margin: 30px;
    margin-top: -2px;
    border-radius: 4px;
    background-color: transparent;
    display: flex;
    border: 1px solid black;
}

.div{
    width: 50%;
    height: 100%;
    background-color: #2A356A;
    border: 1px solid black;

}