#modalGigante {
    background-color: #0003;
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#modalGigante > *{
    background-color: white;
    overflow-x: hidden;
    width: 100%;
    max-width: 700px;
    min-height: 600px;
    border-radius: 10px;
    max-height: 90%;
    overflow-y: scroll;
    height: auto;
    display: block;
    margin: 0px;
    padding: 0px;
}