body{
    width: 100%;
    height: 100vh;
    background-color: #2A356A;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    width: 100%;
    height: 100%;
    max-width: 1440px;
    max-height: 960px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-color: whitesmoke;
}
.container{
    height: 100%;
    max-height: 960px;
    width: 49%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
    justify-content: space-between;
}
h1{
    font-size: 45px;
    margin-top: -10vh;
  }
  p{
      color: rgb(203, 196, 196);
  }
#arrowleft{
    width: 100%;
    height: auto;
}
#esquerda{
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 20%;
}
#royalfinance{
    color: #2A356A;
    font-size: 45px;
    margin-left: 20%;
}
#foto{
    width: 80%;
    height: 80%;
}
#Principal{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
}
#titulo{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
#inputs{
    height: 20%;
    width: 80%;
    /* background-color: violet; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-top: -10vh;
    
}
 
.textInput{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #2A356A;
}

#button{
    width: 50%;
    margin-top: -15vh;
   
}
