body{
    height: 100vh;
    width: 100%;
    min-width: 1000px;
    display: flex;
    overflow-y: hidden;
    align-items: center;
    justify-content: center;
    background-color: #2A356A;
}
main{
    width: 30%;
    height: 750px;
    min-width: 500px;
    max-width: 1100px;
    min-height: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: solid 1px whitesmoke;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 5px -2px rgb(140, 164, 243);
}
#tituloSenha{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.editarTitulo{
    width: 50%;
    height: 100px;
    font-size: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
#caixasSenha{
    width: 80%;
    height: 400px;
    background-color: #2A356A;
}