body{
    width: 100%;
    height: 100vh;
    background-color: #2A356A;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    width: 100%;
    height: 80%;
    max-width: 1440px;
    max-height: 960px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#arrowleft{
    width: 100%;
    height: auto;
    margin-left: 20px;
    margin-top: 10px;
}
#principal{
    height: 90%;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#royalfinance{
    color: #2A356A;
    font-size: 30px;
}
#senhaModificada{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
h1{
    width: 30%;
    min-width: 300px;
    height: 3%;
    text-align: center;
    padding-top: 5px;
    font-size: 28px;
    font-weight: 400;
}
#senha{
    width: 80%;
    height: 80%;
}
#foto{
    width: 100%;
    height: 100%;
}
