*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:Roboto, sans-serif;
}

.fotinha{
    width: 60px;
    height: 60px;
    border-radius: 30px;
}
#royalfinance{
    font-family: 'Baskervvile';
    font-size: 24px;
    color: white;
}
h1{
    font-size: 30px;
}
h2{
    font-size: 24px;
}
h3{
    font-size:20px;
    font-weight: normal;
}
h4{
    font-size:16px;
    font-weight: normal;
    text-decoration: none;
}
p{
    font-size: 0.9em;
    color: rgb(203, 196, 196);
    text-decoration: none;
}

label{
    font-size: 16px;
    /*font-weight: bold;*/
    margin-bottom: 5px
}

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=date],input[type=button] {
    border: solid 2px #2A356A;
    min-height: 40px;
    height: 40px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
    padding-left: 10px;
}
#editarAsInputsUsuario{
    height: 55px;

}

#button{
    width: 70%;
    height: 40px;
    background-color: #2A356A;
    color: white;
    font-size: 18px;
}
:root{
    --cor-Principal: #2A356A;
}
body{
   background-color: var(--cor-Principal);
   overflow-y: hidden;
}
ul li{
    display: flex;

}
.vermelho{
    color: #E70000;
}

.verde {
    color: #32A40A;
}

/* MENU */

.menu{
    width: 8%;
    min-width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: #32A40A; */
    padding-top: 50px;
    padding-bottom: 50px;
}
#nomeEmpresa{
    width: 100%;
    height: 100px;
    color: white;
    font-size: 2.1rem;
    text-align: center;
    font-weight: bold;
    /* background-color: #C4C4C4; */

}

#menuList{
    display: flex;
    align-items: center;
    width: 100%;
    height: 400px;
    /* background-color: #E70000; */
}

ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

li {
    width: 100%;

    z-index: 1;
    display: flex;
    align-items: center;
    padding-left: 10px;

}

li:hover{
    background-color:  rgba(255, 255, 255, 0.308);
    transition-duration: 1s;
    cursor: pointer;
    border-left: 5px;
}
.on{
color: white;
font-size: 16px;
font-weight: 40px;
cursor: pointer;
margin-bottom: 0px;
margin-left: 8px;
}

.img{
    width: 40px;
    height: 50px;
    padding-left: 5px;
    color: white;
}

.perfil{

    width: 100%;
    min-height: 100px;
    padding-left: 5px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: aqua; */
}

#abrirPerfil{
    width: 100%;
    height: 30%;
    color: #C4C4C4;
    text-align: center;
}
#abrirPerfil:hover{
    cursor: pointer;
}
#fotoDoUsuario{
    width: 100%;
    height: 100%;
    background-color: #c4c4c4;
    border-radius: 30px;
}

#perfilFoto{

    width: 35%;
    height: 70%;
    max-width: 60px;
    max-height: 60px;
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255);
    margin-left: 8px;

}
#perfilTexto{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 55%;
    height: 100%;
}

#cinza{
    color: #C4C4C4;
    text-align: center;
    width: 100%;
    height: auto;
}

#branco{
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#modalUsuario{
    display: none;
    position: absolute;
    z-index: 10;
    background-color: #00000069;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.modalUsuarioBranco{
    background-color: #fff;
    width: 700px;
    margin: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

input:disabled{
    background-color: whitesmoke !important;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #E9E9E9 whitesmoke;
  }
  *::-webkit-scrollbar {
    width: 20px;
  }
  
  *::-webkit-scrollbar-track {
    background: orgb(230, 230, 230);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #E9E9E9;
    border-radius: 20px;
    border: 3px solid whitesmoke;
  }