*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:Roboto, sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

#royalfinance{
    font-family: 'Baskervvile';
    font-size: 24px;
    color: white;
}
h1{
    font-size: 30px;
}
h2{
    font-size: 24px;
}
h3{
    font-size:20px;
    font-weight: normal;
}
h4{
    font-size:16px;
    font-weight: normal;
    text-decoration: none;
}
p{
    font-size: 0.9em;
    color: rgb(203, 196, 196);
    text-decoration: none;
}

label{
    font-size: 16px;
    /*font-weight: bold;*/
    margin-bottom: 5px
}

input{
    border: solid 2px #2A356A;
    height: 40px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
    padding-left: 10px;
}
#button{
    width: 70%;
    height: 40px;
    background-color: #2A356A;
    color: white;
    font-size: 18px;
}
:root{
    --cor-Principal: #2A356A;
}
body{
   background-color: var(--cor-Principal);
}
ul li{
    display: flex;

}
.vermelho{
    color: #E70000;
}

.verde {
    color: #32A40A;
}

/* MENU */

.menu{
    width: 8%;
    min-width: 200px;
    height: 100px;
    min-height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--cor-Principal);
    padding-bottom: 50px;
}
#nomeEmpresa{
    width: 100%;
    height: 8%;
    color: white;
    font-size: 2.1rem;
    text-align: center;
    margin-top: 20%;
    font-weight: bold;

}

#menuList{
    display: flex;
    width: 100%;
    min-height: 100px;
    height: 50%;

}

ul {

    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

li {
    width: 100%;
    height: 10%;
    z-index: 1;
    display: flex;
    align-items: center;
    padding-left: 10px;

}

li:hover{
    background-color:  rgba(255, 255, 255, 0.308);
    transition-duration: 1s;
    cursor: pointer;
    border-left: 5px;
}
.on{
color: white;
font-size: 16px;
font-weight: 40px;
cursor: pointer;
margin-bottom: 0px;
margin-left: 8px;
}

.img{
    width: 40px;
    height: 50px;
    padding-left: 5px;
    color: white;
}

.perfil{

    width: 100%;
    height: 80px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#abrirPerfil{
    width: 100%;
    height: 30%;
    color: #C4C4C4;
    text-align: center;
}
#abrirPerfil:hover{
    cursor: pointer;
}
#fotoDoUsuario{
    width: 100%;
    height: 100%;
}

#perfilFoto{

    width: 35%;
    height: 70%;
    max-width: 60px;
    max-height: 60px;
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255);
    margin-left: 8px;

}
#perfilTexto{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 55%;
    height: 100%;
}

#cinza{
    color: #C4C4C4;
    text-align: center;
    width: 100%;
    height: auto;
}

#branco{
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#modalUsuario{
    display: none;
    position: absolute;
    z-index: 10;
    background-color: #00000069;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    align-items: center;
    justify-content: center;
    margin: auto;
}

#modalUsuario>div{
    background-color: #fff;
    width: 40%;
    margin: auto;
    border-radius: 10px;
}