#centalizarConteudoUsuario{
    width: 100%;
    height: 100%;
}
#centralizarConteudoUsuario{
    width: 80%;
    height: 100%;
}
#usuario{
    width: 350px;
    height: 150px;
    background-color: #fff;
    margin-top: 50px;
    border: solid 1px whitesmoke;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 5px -2px rgb(140, 164, 243);
    margin-bottom: 10%;
    display: flex;
    
}
.usuarioFoto{

    border-radius: 45px;
   
}
#nomeUsuario{
    text-align: center;
}
.h4{
    padding-top: 6px;
    font-size: 1rem;
    text-align: center;
    color: white;
}
.Container, .containersUsuario1{

    width: 50%;
    height: 100%;
   
}
.containersUsuario1{

    padding-top: 20px;
    margin-right: 20px;
    padding-right: 10px;
}
.Container{

    display: flex;
    align-items: center;
    justify-content: center;
}
.foto{
    width: 70%;
    height: 40px;
    background-color: #E0E0E0;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    border: 0;
}
.fotoUsuario{
    background-color: #E0E0E0;
    border: 0;
}
#conteudoUsuario{
    width: 100%;
    height: 10%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
}
.edit{

    width: 100%;
    height: 56px;
    border: 2px solid #2A356A;
    border-radius: 4px;
    margin-top: 10px;
    font-size: 1.1rem;
}

.textH7{

    width: 100%;
    height: 30px;
    font-size: 1rem;
    color: rgb(34, 34, 34);
    font-weight: bold;
   
}

::-webkit-input-placeholder {

    font-size: 16px;

}
.checkbox{
    width: 30px;
}
#conteudoUsuario2{
    width: 70%;
    height: 100%;
    margin-top: 20px;
   
}

.organize{
    width: 100%;
    height: 50%;
}
.format{
    margin-top: 10px;
}


.guardaBotao{
    width: 100%;
    height: 10%;
}
#buttonSenha{
    width: 150px;
    height: 45px;
    background-color: #2A356A;
    color: white;
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
    border-radius: 6px;
    cursor: pointer;
}
#conteudo3{
    width: 85%;
    height: 20%;
    /* background-color: cadetblue; */
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}
.usuarioImg{
    width: 25%;
}
#buttonCancelar{
    width: 30%;
    height: 50px;
    background-color: white;
    color: #2A356A;
    font-size: 1.1rem;
    border: solid 1px whitesmoke;
    text-align: center;
    margin-left: 10%;
    box-shadow: 0 4px 5px -2px rgb(140, 164, 243);
    border-radius: 5px;
    cursor: pointer;
    padding: 0px !important;
}
#buttonSalvar{
    width: 30%;
    height: 50px;
    background-color: #2A356A;
    color: white;
    font-size: 1.1rem;
    text-align: center;
    margin-left: 10%;
    border-radius: 5px;
    cursor: pointer;
    padding: 0px !important;
}

#button1:hover, #button2:hover{
    cursor: pointer;
}

/* formatacão do type file */

#input-file{
    display: none
  }
  
  .input-wrapper label {

    width: 173px;
    height: 43px;
    border-radius: 5px;
    color: #fff;
    margin: -8px;
    padding-top: 5px;
    background-color: #2A356A;
    
   
  }
  
  .input-wrapper label:hover {
    background-color: #2A356A
  }
  .input-wrapper{
      width: 200px;
      margin-left: -15px;
      margin-top: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
     
  }
  .edith4{

    width: 250px;
    height: 22px;
    margin-left: 40px;
    margin-top: -29px;
    display: flex;
    font-weight: 500;
    font-size: 0.3rem;
    color: rgb(83, 83, 83);
}

  #Tcheckbox{
    display: block;
    width: 25px;
    height: 25px;
    cursor: pointer;
    /* margin-top: 40px; */
}

#checkbox{
    position: absolute;
    transform: scale(0);
}

input:checked ~ .checkbox {

    transform: rotate(45deg);
    width: 10px;
    margin-left: 16px;
    border-color: #24c78e;
    border-top-color: transparent;
    border-left-color: transparent;
    border-radius: 0;
}

.checkbox{
    display: block;
    width: inherit;
    height: inherit;
    border: 1px solid #434343;
    border-radius: 4px;
    transition: all 0.375s;
    margin-top: -10;
}
#botoesSalvarCancelar{
    width:85%;
    height:20%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}

