@font-face {
    font-family: 'Baskervville';
    font-style: normal;
    font-weight: 400;
    src: url('./Baskervville/baskervville-v11-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./Baskervville/baskervville-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./Baskervville/baskervville-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./Baskervville/baskervville-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./Baskervville/baskervville-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./Baskervville/baskervville-v11-latin-regular.svg#Baskervville') format('svg'); /* Legacy iOS */
  }
  /* baskervville-italic - latin */
  @font-face {
    font-family: 'Baskervville';
    font-style: italic;
    font-weight: 400;
    src: url('./Baskervville/baskervville-v11-latin-italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./Baskervville/baskervville-v11-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./Baskervville/baskervville-v11-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('./Baskervville/baskervville-v11-latin-italic.woff') format('woff'), /* Modern Browsers */
         url('./Baskervville/baskervville-v11-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./Baskervville/baskervville-v11-latin-italic.svg#Baskervville') format('svg'); /* Legacy iOS */
  }