*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:Roboto, sans-serif;
}
#royalfinance{
    font-family: 'Baskervvile';
    font-size: 24px;
    color: white;
}
h1{
    font-size: 28px;
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2A356A;
}
#main{
    max-width: 1366px;
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* box-shadow: inset 0 0 1em #2A056A; */
    /* background-color: #2A356A; */
    padding-right: 30px
}
.container{
    height: 100%;
    width: 49%;
    padding: 10px;
    /* border: solid 1px black; */
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

}
#arrowleft{
    width: 100%;
    height: auto;
}
#fotoCadastro{
    height: 60%;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20%;
    /* background-color: aqua; */
}
#foto{
    height: 100%;
    width: 100%;
}
#principal{
    height: 90%;
    width: 100%;
    margin-top: 5%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#principalInputs{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left:40px; 
    padding-right: 40px;
}
label{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}
input{
    border: solid 2px #2A356A;
    height: 40px;
    border-radius: 6px;
    margin-bottom: 12px;
    padding-left: 10px;
}

#button{
    width: 70%;
    height: 40px;
    background-color: #2A356A;
    color: white;
    font-size: 18px;
}